.animu { background-repeat: no-repeat; position: relative; display: inline-block; top: 5px; margin-top: -5px; padding: 0; }
td.animu { margin-top: 0; }
.animu-1 { background-image: url(images/animu/1.png); }
.animu-2 { background-image: url(images/animu/2.png); }
.animu-3 { background-image: url(images/animu/3.png); }
.animu-4 { background-image: url(images/animu/4.png); }
.animu-5 { background-image: url(images/animu/5.png); }
.animu-a1 { background-image: url(images/animu/a1.png); }
.animu-a2 { background-image: url(images/animu/a2.png); }
.animu-a3 { background-image: url(images/animu/a3.png); }
.animu-a4 { background-image: url(images/animu/a4.png); }
.animu-p { background-image: url(images/animu/p.png); }

/* /r/anime */

.animu-asuka-shouting {
    width: 80px;
    height: 80px;
    background-position: 0 -0px;
}

.animu-chiyo-uhh {
    width: 80px;
    height: 80px;
    background-position: 0 -130px;
}

.animu-she-ded {
    width: 100px;
    height: 80px;
    background-position: 0 -260px;
}

.animu-deko-cry {
    width: 80px;
    height: 80px;
    background-position: 0 -389px;
}

.animu-gendo-pls {
    width: 171px;
    height: 114px;
    background-position: 0 -520px;
}

.animu-haruhi-annoyed {
    width: 100px;
    height: 80px;
    background-position: 0 -684px;
}

.animu-k-on-hug {
    width: 180px;
    height: 120px;
    background-position: 0 -814px;
}

.animu-lewd {
    width: 100px;
    height: 150px;
    background-position: 0 -984px;
}

.animu-nanami-hug {
    width: 120px;
    height: 150px;
    background-position: 0 -1184px;
}

.animu-pika-dead {
    width: 100px;
    height: 80px;
    background-position: 0 -1384px;
}

.animu-super-happy {
    width: 80px;
    height: 80px;
    background-position: 0 -1514px;
}

.animu-yui-crying {
    width: 80px;
    height: 80px;
    background-position: 0 -1644px;
}

.animu-durr {
    width: 100px;
    height: 80px;
    background-position: 0 -1774px;
}

.animu-mugi-fish {
    width: 120px;
    height: 150px;
    background-position: 0 -1904px;
}

.animu-objection {
    width: 100px;
    height: 80px;
    background-position: -230px 0
}

.animu-chaika {
    width: 80px;
    height: 80px;
    background-position: 0 0;
}

.animu-chiho-wut {
    width: 100px;
    height: 80px;
    background-position: 0 -130px;
}

.animu-disapproval-cat {
    width: 80px;
    height: 80px;
    background-position: 0 -260px;
}

.animu-grrrr {
    width: 100px;
    height: 80px;
    background-position: 0 -390px;
}

.animu-im-listening {
    width: 100px;
    height: 80px;
    background-position: 0 -520px;
}

.animu-om-nom {
    width: 100px;
    height: 80px;
    background-position: 0 -650px;
}

.animu-stare {
    width: 150px;
    height: 100px;
    background-position: 0 -780px;
}

.animu-u-wat-m8 {
    width: 80px;
    height: 80px;
    background-position: 0 -930px;
}

.animu-what {
    width: 100px;
    height: 80px;
    background-position: 0 -1060px;
}

.animu-wide-face {
    width: 150px;
    height: 103px;
    background-position: 0 -1190px;
}

.animu-ehehehe {
    width: 80px;
    height: 80px;
    background-position: 0 -1343px;
}

.animu-mandom {
    width: 181px;
    height: 101px;
    background-position: 0 -1473px;
}

.animu-pointandlaugh {
    width: 79px;
    height: 80px;
    background-position: 0 0
}

.animu-smug {
    width: 89px;
    height: 80px;
    background-position: 0 -130px;
}

.animu-confused {
    width: 91px;
    height: 80px;
    background-position: 0 -260px;
}

.animu-yunocaine {
    width: 80px;
    height: 80px;
    background-position: 0 -390px;
}

.animu-konahappy {
    width: 86px;
    height: 80px;
    background-position: 0 -520px;
}

.animu-konacat {
    width: 89px;
    height: 80px;
    background-position: 0 -650px;
}

.animu-gununu {
    width: 107px;
    height: 80px;
    background-position: 0 -780px;
}

.animu-cat1 {
    width: 117px;
    height: 80px;
    background-position: 0 -910px;
}

.animu-somad {
    width: 80px;
    height: 79px;
    background-position: 0 -1040px;
}

.animu-mad {
    width: 85px;
    height: 80px;
    background-position: 0 -1169px;
}

.animu-crying {
    width: 89px;
    height: 80px;
    background-position: 0 -1299px;
}

.animu-cat2 {
    width: 133px;
    height: 80px;
    background-position: 0 -1429px;
}

.animu-um {
    width: 80px;
    height: 80px;
    background-position: 0 -1559px;
}

.animu-facepalm2 {
    width: 80px;
    height: 80px;
    background-position: 0 0
}

.animu-wtfika {
    width: 82px;
    height: 80px;
    background-position: 0 -130px;
}

.animu-kanie-disgust {
    width: 80px;
    height: 80px;
    background-position: 0 -260px;
}

.animu-nerrr {
    width: 80px;
    height: 80px;
    background-position: 0 -390px;
}

.animu-nico-heart {
    width: 100px;
    height: 80px;
    background-position: 0 -520px;
}

.animu-sonico-wink {
    width: 80px;
    height: 80px;
    background-position: 0 -650px;
}

.animu-sparkle-ika {
    width: 80px;
    height: 80px;
    background-position: 0 -780px;
}

.animu-suave {
    width: 100px;
    height: 80px;
    background-position: 0 -910px;
}

.animu-super-blush {
    width: 100px;
    height: 80px;
    background-position: 0 -1040px;
}

.animu-surprised-blush {
    width: 80px;
    height: 80px;
    background-position: 0 -1170px;
}

.animu-shocked {
    width: 73px;
    height: 80px;
    background-position: 0 -1300px;
}

.animu-thumbsup2 {
    width: 120px;
    height: 100px;
    background-position: 0 -1430px;
}

.animu-u-dont-say {
    width: 100px;
    height: 80px;
    background-position: 0 -1580px;
}

.animu-ugh-peasants {
    width: 100px;
    height: 80px;
    background-position: 0 -1710px;
}

.animu-uhhh {
    width: 80px;
    height: 80px;
    background-position: 0 -1840px;
}

.animu-yay {
    width: 84px;
    height: 80px;
    background-position: -170px 0
}

.animu-you-bore-me {
    width: 100px;
    height: 80px;
    background-position: -170px -130px;
}

.animu-osaka {
    width: 80px;
    height: 80px;
    background-position: -170px -260px;
}

.animu-kukuku {
    width: 100px;
    height: 150px;
    background-position: -170px -390px;
}

.animu-toohappy {
    width: 84px;
    height: 80px;
    background-position: -170px -590px;
}

.animu-chitoge-smile {
    width: 100px;
    height: 56px;
    background-position: -5px -5px;
}

.animu-kininarimasu {
    width: 90px;
    height: 75px;
    background-position: -115px -5px;
}

.animu-kotori {
    width: 85px;
    height: 89px;
    background-position: -215px -5px;
}

.animu-kyon-facepalm {
    width: 125px;
    height: 80px;
    background-position: -310px -5px;
}

.animu-araragi-1 {
    width: 100px;
    height: 50px;
    background-position: -5px -95px;
}

.animu-araragi-2 {
    width: 100px;
    height: 50px;
    background-position: -310px -95px;
}

.animu-blank-stare {
    width: 80px;
    height: 80px;
    background-position: -115px -95px;
}

.animu-chaika-smile {
    width: 77px;
    height: 80px;
    background-position: -5px -155px;
}

.animu-chitoge-pissed {
    width: 85px;
    height: 100px;
    background-position: -205px -155px;
}

.animu-deadpan {
    width: 80px;
    height: 85px;
    background-position: -300px -155px;
}

.animu-exuberant-shu {
    width: 80px;
    height: 50px;
    background-position: -390px -155px;
}

.animu-dead-eyed-stare {
    width: 100px;
    height: 70px;
    background-position: -92px -215px;
}

.animu-gamagori-hnng {
    width: 80px;
    height: 65px;
    background-position: -390px -215px;
}

.animu-glasses-push {
    width: 100px;
    height: 50px;
    background-position: -202px -290px;
}

.animu-head-tilt {
    width: 121px;
    height: 100px;
    background-position: -312px -290px;
}

.animu-jiii {
    width: 100px;
    height: 60px;
    background-position: -5px -400px;
}

.animu-manly-tears {
    width: 150px;
    height: 100px;
    background-position: -445px -5px;
}

.animu-not-raining {
    width: 146px;
    height: 100px;
    background-position: -480px -115px;
}

.animu-ohmygod {
    width: 175px;
    height: 100px;
    background-position: -443px -290px;
}

.animu-shock {
    width: 170px;
    height: 100px;
    background-position: -115px -400px;
}

.animu-heart-thumbs-up {
    width: 79px;
    height: 100px;
    background-position: -295px -400px;
}

.animu-worried {
    width: 170px;
    height: 100px;
    background-position: -384px -400px;
}

.animu-wow-really {
    width: 80px;
    height: 85px;
    background-position: -564px -400px;
}

/* /r/awwnime */

.animu-nosebleed {
    width: 107px;
    height: 80px;
    background-position: -376px -251px; /* a1 */
}

.animu-o-o {
    width: 133px;
    height: 74px;
    background-position: -272px -88px; /* a1 */
}

.animu-pissed {
    width: 127px;
    height: 80px;
    background-position: -134px -160px; /* a1 */
}

.animu-pleased {
    width: 142px;
    height: 80px;
    background-position: -146px -2px; /* a1 */
}

.animu-shock2 {
    width: 85px;
    height: 80px;
    background-position: -425px -2px; /* a1 */
}

.animu-somad2 {
    width: 80px;
    height: 79px;
    background-position: -425px -84px; /* a1 */
}

.animu-sparkle {
    width: 133px;
    height: 74px;
    background-position: -137px -84px; /* a1 */
}

.animu-squee {
    width: 97px;
    height: 80px;
    background-position: -83px -406px; /* a1 */
}

.animu-superb {
    width: 110px;
    height: 82px;
    background-position: -264px -239px; /* a1 */
}

.animu-tears {
    width: 120px;
    height: 73px;
    background-position: -264px -164px; /* a1 */
}

.animu-therethere {
    width: 86px;
    height: 80px;
    background-position: -232px -323px; /* a1 */
}

.animu-thumbsup3 {
    width: 142px;
    height: 80px;
    background-position: -2px -2px; /* a1 */
}

.animu-trollin {
    width: 133px;
    height: 74px;
    background-position: -2px -84px; /* a1 */
}

.animu-tsuntsun {
    width: 130px;
    height: 80px;
    background-position: -2px -160px; /* a1 */
}

.animu-waa {
    width: 118px;
    height: 84px;
    background-position: -386px -165px; /* a1 */
}

.animu-wahahaha {
    width: 79px;
    height: 85px;
    background-position: -2px -406px; /* a1 */
}

.animu-waow {
    width: 98px;
    height: 80px;
    background-position: -2px -324px; /* a1 */
}

.animu-ika-wink {
    width: 106px;
    height: 85px;
    background-position: -124px -252px; /* a1 */
}

.animu-somuchyes {
    width: 120px;
    height: 80px;
    background-position: -2px -242px; /* a1 */
}

.animu-uguu {
    width: 120px;
    height: 75px;
    background-position: -327px -337px; /* a1 */
}

.animu-airen {
    width: 124px;
    height: 80px;
    background-position: -221px -341px; /* a2 */
}

.animu-awwyeah2 {
    width: 80px;
    height: 80px;
    background-position: -266px -423px; /* a2 */
}

.animu-bii {
    width: 75px;
    height: 80px;
    background-position: -348px -423px; /* a2 */
}

.animu-blush {
    width: 80px;
    height: 80px;
    background-position: -84px -427px; /* a2 */
}

.animu-butwhat {
    width: 91px;
    height: 80px;
    background-position: -133px -181px; /* a2 */
}

.animu-catsmile {
    width: 89px;
    height: 80px;
    background-position: -93px -345px; /* a2 */
}

.animu-concentrate {
    width: 89px;
    height: 80px;
    background-position: -2px -345px; /* a2 */
}

.animu-contented {
    width: 150px;
    height: 85px;
    background-position: -2px -94px; /* a2 */
}

.animu-loli-cry {
    width: 134px;
    height: 80px;
    background-position: -227px -177px; /* a2 */
}

.animu-darksad {
    width: 123px;
    height: 79px;
    background-position: -355px -259px; /* a2 */
}

.animu-dealwithit2 {
    width: 126px;
    height: 80px;
    background-position: -2px -263px; /* a2 */
}

.animu-deredere {
    width: 129px;
    height: 80px;
    background-position: -2px -181px; /* a2 */
}

.animu-disapproval {
    width: 95px;
    height: 80px;
    background-position: -414px -2px; /* a2 */
}

.animu-facepalm3 {
    width: 71px;
    height: 90px;
    background-position: -154px -89px; /* a2 */
}

.animu-fwaa {
    width: 98px;
    height: 86px;
    background-position: -227px -89px; /* a2 */
}

.animu-go-on {
    width: 89px;
    height: 80px;
    background-position: -130px -263px; /* a2 */
}

.animu-grrrr2 {
    width: 127px;
    height: 80px;
    background-position: -226px -259px; /* a2 */
}

.animu-hana {
    width: 131px;
    height: 80px;
    background-position: -327px -86px; /* a2 */
}

.animu-happy {
    width: 134px;
    height: 90px;
    background-position: -2px -2px; /* a2 */
}

.animu-hnng {
    width: 118px;
    height: 80px;
    background-position: -347px -341px; /* a2 */
}

.animu-impossibiru {
    width: 80px;
    height: 80px;
    background-position: -2px -427px; /* a2 */
}

.animu-itai {
    width: 80px;
    height: 80px;
    background-position: -184px -423px; /* a2 */
}

.animu-just-no {
    width: 138px;
    height: 85px;
    background-position: -138px -2px; /* a2 */
}

.animu-laugh {
    width: 134px;
    height: 82px;
    background-position: -278px -2px; /* a2 */
}

.animu-megane {
    width: 102px;
    height: 79px;
    background-position: -363px -168px; /* a2 */
}

.animu-rarr {
    width: 131px;
    height: 80px;
    background-position: -2px -2px; /* a3 */
}

.animu-blushing {
    width: 100px;
    height: 80px;
    background-position: -135px -2px; /* a3 */
}

.animu-headpat {
    width: 160px;
    height: 80px;
    background-position: -237px -2px; /* a3 */
}

.animu-heyyou {
    width: 142px;
    height: 80px;
    background-position: -399px -2px; /* a3 */
}

.animu-hug {
    width: 93px;
    height: 80px;
    background-position: -543px -2px; /* a3 */
}

.animu-kyaa {
    width: 69px;
    height: 90px;
    background-position: -638px -2px; /* a3 */
}

.animu-omnom {
    width: 110px;
    height: 80px;
    background-position: -709px -2px; /* a3 */
}

.animu-peek {
    width: 92px;
    height: 90px;
    background-position: -821px -2px; /* a3 */
}

.animu-sigh {
    width: 142px;
    height: 80px;
    background-position: -915px -2px; /* a3 */
}

.animu-trynottopurr {
    width: 76px;
    height: 90px;
    background-position: -1059px -2px; /* a3 */
}

.animu-sonice {
    width: 110px;
    height: 90px;
    background-position: 0 0; /* a4 */
}

.animu-upset {
    width: 88px;
    height: 90px;
    background-position: 0 -90px; /* a4 */
}

.animu-silence {
    width: 116px;
    height: 95px;
    background-position: 0 -180px; /* a4 */
}

.animu-confused-smile {
    width: 100px;
    height: 85px;
    background-position: 0 -275px; /* a4 */
}

.animu-doteyes {
    width: 97px;
    height: 100px;
    background-position: 0 -360px; /* a4 */
}

.animu-disbelief {
    width: 119px;
    height: 85px;
    background-position: 0 -460px; /* a4 */
}

.animu-resolved {
    width: 128px;
    height: 95px;
    background-position: 0 -545px; /* a4 */
}

.animu-pout {
    width: 120px;
    height: 76px;
    background-position: 0 -640px; /* a4 */
}

.animu-lewd2 {
    width: 124px;
    height: 100px;
    background-position: 0 -716px; /* a4 */
}

.animu-nepnep {
    width: 109px;
    height: 100px;
    background-position: 0 -816px; /* a4 */
}

/* /r/pantsu */

.animu-mmm {
    width: 107px;
    height: 87px;
    background-position: 0 0;
}

.animu-nowai {
    width: 160px;
    height: 90px;
    background-position: 0 -87px;
}

.animu-lovemyhat {
    width: 140px;
    height: 106px;
    background-position: 0 -177px;
}

.animu-drool {
    width: 107px;
    height: 80px;
    background-position: 0 -283px;
}

.animu-blush2 {
    width: 107px;
    height: 90px;
    background-position: 0 -363px;
}

.animu-noooo2 {
    width: 107px;
    height: 80px;
    background-position: 0 -443px;
}

.animu-delight {
    width: 107px;
    height: 80px;
    background-position: 0 -533px;
}

.animu-sparkle2 {
    width: 107px;
    height: 80px;
    background-position: 0 -613px;
}

.animu-disapproval2 {
    width: 107px;
    height: 80px;
    background-position: 0 -693px;
}