.emoji20 { font-family: arial helvetica sans-serif; font-size: 32px; min-height: 28px; display:inline-block }
.emoji20-plus1::before { content: "\1F440"; vertical-align: middle; }
.emoji20--1::before { content: "\1F44E"; vertical-align: middle; }
.emoji20-0::before { content: "\0030"; vertical-align: middle; }
.emoji20-1 { content: "\0031"; vertical-align: middle; }
.emoji20-100 { content: "\1F4AF"; vertical-align: middle; }
.emoji20-109 { content: "\1F937"; vertical-align: middle; }
.emoji20-1234 { content: "\1FS22"; vertical-align: middle; }
.emoji20-2 { content: "\0031"; vertical-align: middle; }
.emoji20-3 { content: "\0033"; vertical-align: middle; }
.emoji20-4 { content: "\0034"; vertical-align: middle; }
.emoji20-5 { content: "\0035"; vertical-align: middle; }
.emoji20-6 { content: "\0036"; vertical-align: middle; }
.emoji20-7 { content: "\0037"; vertical-align: middle; }
.emoji20-8 { content: "\0038"; vertical-align: middle; }
.emoji20-8ball { content: "\1F3B1"; vertical-align: middle; }
.emoji20-9 { content: "\0039"; vertical-align: middle; }
.emoji20-a { content: "\1F170"; vertical-align: middle; }
.emoji20-ab { content: "\1F18E"; vertical-align: middle; }
.emoji20-abc { content: "\1F524"; vertical-align: middle; }
.emoji20-abcd { content: "\1F521"; vertical-align: middle; }
.emoji20-accept { content: "\1F251"; vertical-align: middle; }
.emoji20-aerial_tramway { content: "\1F6A0"; vertical-align: middle; }
.emoji20-airplane { content: "\2708"; vertical-align: middle; }
.emoji20-alarm_clock { content: "\23F0"; vertical-align: middle; }
.emoji20-alien { content: "\1F47D"; vertical-align: middle; }
.emoji20-ambulance { content: "\1F691"; vertical-align: middle; }
.emoji20-anchor { content: "\2693"; vertical-align: middle; }
.emoji20-angel { content: "\1F47C"; vertical-align: middle; }
.emoji20-anger { content: "\1F4A2"; vertical-align: middle; }
.emoji20-angry { content: "\1F620"; vertical-align: middle; }
.emoji20-anguished { content: "\1F627"; vertical-align: middle; }
.emoji20-ant { content: "\1F41B"; vertical-align: middle; }
.emoji20-apple { content: "\1F34E"; vertical-align: middle; }
.emoji20-aquarius { content: "\2652"; vertical-align: middle; }
.emoji20-aries { content: "\2648"; vertical-align: middle; }
.emoji20-arrows_clockwise { content: "\1F503"; vertical-align: middle; }
.emoji20-arrows_counterclockwise { content: "\1F504"; vertical-align: middle; }
.emoji20-arrow_backward { content: "\25C0"; vertical-align: middle; }
.emoji20-arrow_double_down { content: "\23EC"; vertical-align: middle; }
.emoji20-arrow_double_up { content: "\23E8"; vertical-align: middle; }
.emoji20-arrow_down { content: "\2B07"; vertical-align: middle; }
.emoji20-arrow_down_small { content: "\1D53D"; vertical-align: middle; }
.emoji20-arrow_forward { content: "\25B6"; vertical-align: middle; }
.emoji20-arrow_heading_down { content: "\2935"; vertical-align: middle; }
.emoji20-arrow_heading_up { content: "\2934"; vertical-align: middle; }
.emoji20-arrow_left { content: "\2B05"; vertical-align: middle; }
.emoji20-arrow_lower_left { content: "\2199"; vertical-align: middle; }
.emoji20-arrow_lower_right { content: "\2198"; vertical-align: middle; }
.emoji20-arrow_right { content: "\27A1"; vertical-align: middle; }
.emoji20-arrow_right_hook { content: "\21AA"; vertical-align: middle; }
.emoji20-arrow_up { content: "\2B06"; vertical-align: middle; }
.emoji20-arrow_upper_left { content: "\2196"; vertical-align: middle; }
.emoji20-arrow_upper_right { content: "\2197"; vertical-align: middle; }
.emoji20-arrow_up_down { content: "\2195"; vertical-align: middle; }
.emoji20-arrow_up_small { content: "\1F53C"; vertical-align: middle; }
.emoji20-art { content: "\1F3A8"; vertical-align: middle; }
.emoji20-articulated_lorry { content: "\1F69B"; vertical-align: middle; }
.emoji20-astonished { content: "\1F632"; vertical-align: middle; }
.emoji20-atm { content: "\1F3E7"; vertical-align: middle; }
.emoji20-b { content: "\1F171"; vertical-align: middle; }
.emoji20-baby { content: "\1F476"; vertical-align: middle; }
.emoji20-baby_bottle { content: "\1F37C"; vertical-align: middle; }
.emoji20-baby_chick { content: "\1F424"; vertical-align: middle; }
.emoji20-baby_symbol { content: "\1F6BC"; vertical-align: middle; }
.emoji20-back { content: "\1F519"; vertical-align: middle; }
.emoji20-baggage_claim { content: "\1F6C4"; vertical-align: middle; }
.emoji20-balloon { content: "\1F388"; vertical-align: middle; }
.emoji20-ballot_box_with_check { content: "\2611"; vertical-align: middle; }
.emoji20-bamboo { content: "\1F937"; vertical-align: middle; }
.emoji20-banana { content: "\1F937"; vertical-align: middle; }
.emoji20-bangbang { content: "\203C"; vertical-align: middle; }
.emoji20-bank { content: "\1F3E6"; vertical-align: middle; }
.emoji20-barber { content: "\1F448"; vertical-align: middle; }
.emoji20-bar_chart { content: "\1F4CA"; vertical-align: middle; }
.emoji20-baseball { content: "\26BE"; vertical-align: middle; }
.emoji20-basketball { content: "\1F3C0"; vertical-align: middle; }
.emoji20-bath { content: "\1F6C0"; vertical-align: middle; }
.emoji20-bathtub { content: "\1F6C1"; vertical-align: middle; }
.emoji20-battery { content: "\1F50B"; vertical-align: middle; }
.emoji20-bear { content: "\1F43B"; vertical-align: middle; }
.emoji20-bee { content: "\1F41D"; vertical-align: middle; }
.emoji20-beer { content: "\1F37A"; vertical-align: middle; }
.emoji20-beers { content: "\1F37B"; vertical-align: middle; }
.emoji20-beetle { content: "\1F41E"; vertical-align: middle; }
.emoji20-beginner { content: "\1F530"; vertical-align: middle; }
.emoji20-bell { content: "\1F514"; vertical-align: middle; }
.emoji20-bento { content: "\1F371"; vertical-align: middle; }
.emoji20-bicyclist { content: "\1F6B4"; vertical-align: middle; }
.emoji20-bike { content: "\1F6B2"; vertical-align: middle; }
.emoji20-bikini { content: "\1F459"; vertical-align: middle; }
.emoji20-bird { content: "\1F426"; vertical-align: middle; }
.emoji20-birthday { content: "\1F382"; vertical-align: middle; }
.emoji20-black_circle { content: "\26AB"; vertical-align: middle; }
.emoji20-black_joker { content: "\1F0CF"; vertical-align: middle; }
.emoji20-black_medium_small_square { content: "\25FE"; vertical-align: middle; }
.emoji20-black_medium_square { content: "\25FC"; vertical-align: middle; }
.emoji20-black_nib { content: "\2712"; vertical-align: middle; }
.emoji20-black_small_square { content: "\25AA"; vertical-align: middle; }
.emoji20-black_square { content: "\2B1B"; vertical-align: middle; }
.emoji20-black_square_button { content: "\1F532"; vertical-align: middle; }
.emoji20-blossom { content: "\1F33C"; vertical-align: middle; }
.emoji20-blowfish { content: "\1F421"; vertical-align: middle; }
.emoji20-blue_book { content: "\1F4D8"; vertical-align: middle; }
.emoji20-blue_car { content: "\1F699"; vertical-align: middle; }
.emoji20-blue_heart { content: "\1F499"; vertical-align: middle; }
.emoji20-blush { content: "\1F60A"; vertical-align: middle; }
.emoji20-boar { content: "\1F417"; vertical-align: middle; }
.emoji20-boat { content: "\26F5"; vertical-align: middle; }
.emoji20-bomb { content: "\1F4A3"; vertical-align: middle; }
.emoji20-book { content: "\1F4D6"; vertical-align: middle; }
/*--------------------------------------------------*/
.emoji20-bookmark { content: "\1F937"; vertical-align: middle; }
.emoji20-bookmark_tabs { content: "\1F937"; vertical-align: middle; }
.emoji20-books { content: "\1F937"; vertical-align: middle; }
.emoji20-boom { content: "\1F937"; vertical-align: middle; }
.emoji20-boot { content: "\1F937"; vertical-align: middle; }
.emoji20-bouquet { content: "\1F937"; vertical-align: middle; }
.emoji20-bow { content: "\1F937"; vertical-align: middle; }
.emoji20-bowling { content: "\1F937"; vertical-align: middle; }
.emoji20-bowtie { content: "\1F937"; vertical-align: middle; }
.emoji20-boy { content: "\1F937"; vertical-align: middle; }
.emoji20-bread { content: "\1F937"; vertical-align: middle; }
.emoji20-bride_with_veil { content: "\1F937"; vertical-align: middle; }
.emoji20-bridge_at_night { content: "\1F937"; vertical-align: middle; }
.emoji20-briefcase { content: "\1F937"; vertical-align: middle; }
.emoji20-broken_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-bug { content: "\1F937"; vertical-align: middle; }
.emoji20-bulb { content: "\1F937"; vertical-align: middle; }
.emoji20-bullettrain_front { content: "\1F937"; vertical-align: middle; }
.emoji20-bullettrain_side { content: "\1F937"; vertical-align: middle; }
.emoji20-bus { content: "\1F937"; vertical-align: middle; }
.emoji20-busstop { content: "\1F937"; vertical-align: middle; }
.emoji20-busts_in_silhouette { content: "\1F937"; vertical-align: middle; }
.emoji20-bust_in_silhouette { content: "\1F937"; vertical-align: middle; }
.emoji20-cactus { content: "\1F937"; vertical-align: middle; }
.emoji20-cake { content: "\1F937"; vertical-align: middle; }
.emoji20-calendar { content: "\1F937"; vertical-align: middle; }
.emoji20-calling { content: "\1F937"; vertical-align: middle; }
.emoji20-camel { content: "\1F937"; vertical-align: middle; }
.emoji20-camera { content: "\1F937"; vertical-align: middle; }
.emoji20-cancer { content: "\1F937"; vertical-align: middle; }
.emoji20-candy { content: "\1F937"; vertical-align: middle; }
.emoji20-capital_abcd { content: "\1F937"; vertical-align: middle; }
.emoji20-capricorn { content: "\1F937"; vertical-align: middle; }
.emoji20-car { content: "\1F937"; vertical-align: middle; }
.emoji20-card_index { content: "\1F937"; vertical-align: middle; }
.emoji20-carousel_horse { content: "\1F937"; vertical-align: middle; }
.emoji20-cat { content: "\1F937"; vertical-align: middle; }
.emoji20-cat2 { content: "\1F937"; vertical-align: middle; }
.emoji20-cd { content: "\1F937"; vertical-align: middle; }
.emoji20-chart { content: "\1F937"; vertical-align: middle; }
.emoji20-chart_with_downwards_trend { content: "\1F937"; vertical-align: middle; }
.emoji20-chart_with_upwards_trend { content: "\1F937"; vertical-align: middle; }
.emoji20-checkered_flag { content: "\1F937"; vertical-align: middle; }
.emoji20-cherries { content: "\1F937"; vertical-align: middle; }
.emoji20-cherry_blossom { content: "\1F937"; vertical-align: middle; }
.emoji20-chestnut { content: "\1F937"; vertical-align: middle; }
.emoji20-chicken { content: "\1F937"; vertical-align: middle; }
.emoji20-children_crossing { content: "\1F937"; vertical-align: middle; }
.emoji20-chocolate_bar { content: "\1F937"; vertical-align: middle; }
.emoji20-christmas_tree { content: "\1F937"; vertical-align: middle; }
.emoji20-church { content: "\1F937"; vertical-align: middle; }
.emoji20-cinema { content: "\1F937"; vertical-align: middle; }
.emoji20-circus_tent { content: "\1F937"; vertical-align: middle; }
.emoji20-city_sunrise { content: "\1F937"; vertical-align: middle; }
.emoji20-city_sunset { content: "\1F937"; vertical-align: middle; }
.emoji20-cl { content: "\1F937"; vertical-align: middle; }
.emoji20-clap { content: "\1F937"; vertical-align: middle; }
.emoji20-clapper { content: "\1F937"; vertical-align: middle; }
.emoji20-clipboard { content: "\1F937"; vertical-align: middle; }
.emoji20-clock1 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock10 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock1030 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock11 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock1130 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock12 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock1230 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock130 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock2 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock230 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock3 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock330 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock4 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock430 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock5 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock530 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock6 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock630 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock7 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock730 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock8 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock830 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock9 { content: "\1F937"; vertical-align: middle; }
.emoji20-clock930 { content: "\1F937"; vertical-align: middle; }
.emoji20-closed_book { content: "\1F937"; vertical-align: middle; }
.emoji20-closed_lock_with_key { content: "\1F937"; vertical-align: middle; }
.emoji20-closed_umbrella { content: "\1F937"; vertical-align: middle; }
.emoji20-cloud { content: "\1F937"; vertical-align: middle; }
.emoji20-clubs { content: "\1F937"; vertical-align: middle; }
.emoji20-cn { content: "\1F937"; vertical-align: middle; }
.emoji20-cocktail { content: "\1F937"; vertical-align: middle; }
.emoji20-coffee { content: "\1F937"; vertical-align: middle; }
.emoji20-cold_sweat { content: "\1F937"; vertical-align: middle; }
.emoji20-collision { content: "\1F937"; vertical-align: middle; }
.emoji20-computer { content: "\1F937"; vertical-align: middle; }
.emoji20-confetti_ball { content: "\1F937"; vertical-align: middle; }
.emoji20-confounded { content: "\1F937"; vertical-align: middle; }
.emoji20-confused { content: "\1F937"; vertical-align: middle; }
.emoji20-congratulations { content: "\1F937"; vertical-align: middle; }
.emoji20-construction { content: "\1F937"; vertical-align: middle; }
.emoji20-construction_worker { content: "\1F937"; vertical-align: middle; }
.emoji20-convenience_store { content: "\1F937"; vertical-align: middle; }
.emoji20-cookie { content: "\1F937"; vertical-align: middle; }
.emoji20-cool { content: "\1F937"; vertical-align: middle; }
.emoji20-cop { content: "\1F937"; vertical-align: middle; }
.emoji20-copyright { content: "\1F937"; vertical-align: middle; }
.emoji20-corn { content: "\1F937"; vertical-align: middle; }
.emoji20-couple { content: "\1F937"; vertical-align: middle; }
.emoji20-couplekiss { content: "\1F937"; vertical-align: middle; }
.emoji20-couple_with_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-cow { content: "\1F937"; vertical-align: middle; }
.emoji20-cow2 { content: "\1F937"; vertical-align: middle; }
.emoji20-credit_card { content: "\1F937"; vertical-align: middle; }
.emoji20-crocodile { content: "\1F937"; vertical-align: middle; }
.emoji20-crossed_flags { content: "\1F937"; vertical-align: middle; }
.emoji20-crown { content: "\1F937"; vertical-align: middle; }
.emoji20-cry { content: "\1F937"; vertical-align: middle; }
.emoji20-crying_cat_face { content: "\1F937"; vertical-align: middle; }
.emoji20-crystal_ball { content: "\1F937"; vertical-align: middle; }
.emoji20-cupid { content: "\1F937"; vertical-align: middle; }
.emoji20-curly_loop { content: "\1F937"; vertical-align: middle; }
.emoji20-currency_exchange { content: "\1F937"; vertical-align: middle; }
.emoji20-curry { content: "\1F937"; vertical-align: middle; }
.emoji20-custard { content: "\1F937"; vertical-align: middle; }
.emoji20-customs { content: "\1F937"; vertical-align: middle; }
.emoji20-cyclone { content: "\1F937"; vertical-align: middle; }
.emoji20-dancer { content: "\1F937"; vertical-align: middle; }
.emoji20-dancers { content: "\1F937"; vertical-align: middle; }
.emoji20-dango { content: "\1F937"; vertical-align: middle; }
.emoji20-dart { content: "\1F937"; vertical-align: middle; }
.emoji20-dash { content: "\1F937"; vertical-align: middle; }
.emoji20-date { content: "\1F937"; vertical-align: middle; }
.emoji20-de { content: "\1F937"; vertical-align: middle; }
.emoji20-deciduous_tree { content: "\1F937"; vertical-align: middle; }
.emoji20-department_store { content: "\1F937"; vertical-align: middle; }
.emoji20-diamonds { content: "\1F937"; vertical-align: middle; }
.emoji20-diamond_shape_with_a_dot_inside { content: "\1F937"; vertical-align: middle; }
.emoji20-disappointed { content: "\1F937"; vertical-align: middle; }
.emoji20-disappointed_relieved { content: "\1F937"; vertical-align: middle; }
.emoji20-dizzy { content: "\1F937"; vertical-align: middle; }
.emoji20-dizzy_face { content: "\1F937"; vertical-align: middle; }
.emoji20-dog { content: "\1F937"; vertical-align: middle; }
.emoji20-dog2 { content: "\1F937"; vertical-align: middle; }
.emoji20-dollar { content: "\1F937"; vertical-align: middle; }
.emoji20-dolls { content: "\1F937"; vertical-align: middle; }
.emoji20-dolphin { content: "\1F937"; vertical-align: middle; }
.emoji20-donut { content: "\1F937"; vertical-align: middle; }
.emoji20-door { content: "\1F937"; vertical-align: middle; }
.emoji20-doughnut { content: "\1F937"; vertical-align: middle; }
.emoji20-do_not_litter { content: "\1F937"; vertical-align: middle; }
.emoji20-dragon { content: "\1F937"; vertical-align: middle; }
.emoji20-dragon_face { content: "\1F937"; vertical-align: middle; }
.emoji20-dress { content: "\1F937"; vertical-align: middle; }
.emoji20-dromedary_camel { content: "\1F937"; vertical-align: middle; }
.emoji20-droplet { content: "\1F937"; vertical-align: middle; }
.emoji20-dvd { content: "\1F937"; vertical-align: middle; }
.emoji20-e-mail { content: "\1F937"; vertical-align: middle; }
.emoji20-ear { content: "\1F937"; vertical-align: middle; }
.emoji20-earth_africa { content: "\1F937"; vertical-align: middle; }
.emoji20-earth_americas { content: "\1F937"; vertical-align: middle; }
.emoji20-earth_asia { content: "\1F937"; vertical-align: middle; }
.emoji20-ear_of_rice { content: "\1F937"; vertical-align: middle; }
.emoji20-egg { content: "\1F937"; vertical-align: middle; }
.emoji20-eggplant { content: "\1F937"; vertical-align: middle; }
.emoji20-egplant { content: "\1F937"; vertical-align: middle; }
.emoji20-eight { content: "\1F937"; vertical-align: middle; }
.emoji20-eight_pointed_black_star { content: "\1F937"; vertical-align: middle; }
.emoji20-eight_spoked_asterisk { content: "\1F937"; vertical-align: middle; }
.emoji20-electric_plug { content: "\1F937"; vertical-align: middle; }
.emoji20-elephant { content: "\1F937"; vertical-align: middle; }
.emoji20-email { content: "\1F937"; vertical-align: middle; }
.emoji20-end { content: "\1F937"; vertical-align: middle; }
.emoji20-envelope { content: "\1F937"; vertical-align: middle; }
.emoji20-es { content: "\1F937"; vertical-align: middle; }
.emoji20-euro { content: "\1F937"; vertical-align: middle; }
.emoji20-european_castle { content: "\1F937"; vertical-align: middle; }
.emoji20-european_post_office { content: "\1F937"; vertical-align: middle; }
.emoji20-evergreen_tree { content: "\1F937"; vertical-align: middle; }
.emoji20-exclamation { content: "\1F937"; vertical-align: middle; }
.emoji20-expressionless { content: "\1F937"; vertical-align: middle; }
.emoji20-eyeglasses { content: "\1F937"; vertical-align: middle; }
.emoji20-eyes { content: "\1F937"; vertical-align: middle; }
.emoji20-facepunch { content: "\1F937"; vertical-align: middle; }
.emoji20-factory { content: "\1F937"; vertical-align: middle; }
.emoji20-fallen_leaf { content: "\1F937"; vertical-align: middle; }
.emoji20-family { content: "\1F937"; vertical-align: middle; }
.emoji20-fast_forward { content: "\1F937"; vertical-align: middle; }
.emoji20-fax { content: "\1F937"; vertical-align: middle; }
.emoji20-fearful { content: "\1F937"; vertical-align: middle; }
.emoji20-feelsgood { content: "\1F937"; vertical-align: middle; }
.emoji20-feet { content: "\1F937"; vertical-align: middle; }
.emoji20-ferris_wheel { content: "\1F937"; vertical-align: middle; }
.emoji20-file_folder { content: "\1F937"; vertical-align: middle; }
.emoji20-finnadie { content: "\1F937"; vertical-align: middle; }
.emoji20-fire { content: "\1F937"; vertical-align: middle; }
.emoji20-fireworks { content: "\1F937"; vertical-align: middle; }
.emoji20-fire_engine { content: "\1F937"; vertical-align: middle; }
.emoji20-first_quarter_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-first_quarter_moon_with_face { content: "\1F937"; vertical-align: middle; }
.emoji20-fish { content: "\1F937"; vertical-align: middle; }
.emoji20-fishing_pole_and_fish { content: "\1F937"; vertical-align: middle; }
.emoji20-fish_cake { content: "\1F937"; vertical-align: middle; }
.emoji20-fist { content: "\1F937"; vertical-align: middle; }
.emoji20-five { content: "\1F937"; vertical-align: middle; }
.emoji20-flags { content: "\1F937"; vertical-align: middle; }
.emoji20-flashlight { content: "\1F937"; vertical-align: middle; }
.emoji20-floppy_disk { content: "\1F937"; vertical-align: middle; }
.emoji20-flower_playing_cards { content: "\1F937"; vertical-align: middle; }
.emoji20-flushed { content: "\1F937"; vertical-align: middle; }
.emoji20-foggy { content: "\1F937"; vertical-align: middle; }
.emoji20-football { content: "\1F937"; vertical-align: middle; }
.emoji20-fork_and_knife { content: "\1F937"; vertical-align: middle; }
.emoji20-fountain { content: "\1F937"; vertical-align: middle; }
.emoji20-four { content: "\1F937"; vertical-align: middle; }
.emoji20-four_leaf_clover { content: "\1F937"; vertical-align: middle; }
.emoji20-fr { content: "\1F937"; vertical-align: middle; }
.emoji20-free { content: "\1F937"; vertical-align: middle; }
.emoji20-fried_shrimp { content: "\1F937"; vertical-align: middle; }
.emoji20-fries { content: "\1F937"; vertical-align: middle; }
.emoji20-frog { content: "\1F937"; vertical-align: middle; }
.emoji20-frowning { content: "\1F937"; vertical-align: middle; }
.emoji20-fu { content: "\1F937"; vertical-align: middle; }
.emoji20-fuelpump { content: "\1F937"; vertical-align: middle; }
.emoji20-full_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-full_moon_with_face { content: "\1F937"; vertical-align: middle; }
.emoji20-game_die { content: "\1F937"; vertical-align: middle; }
.emoji20-gb { content: "\1F937"; vertical-align: middle; }
.emoji20-gem { content: "\1F937"; vertical-align: middle; }
.emoji20-gemini { content: "\1F937"; vertical-align: middle; }
.emoji20-ghost { content: "\1F937"; vertical-align: middle; }
.emoji20-gift { content: "\1F937"; vertical-align: middle; }
.emoji20-gift_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-girl { content: "\1F937"; vertical-align: middle; }
.emoji20-globe_with_meridians { content: "\1F937"; vertical-align: middle; }
.emoji20-goat { content: "\1F937"; vertical-align: middle; }
.emoji20-goberserk { content: "\1F937"; vertical-align: middle; }
.emoji20-godmode { content: "\1F937"; vertical-align: middle; }
.emoji20-golf { content: "\1F937"; vertical-align: middle; }
.emoji20-grapes { content: "\1F937"; vertical-align: middle; }
.emoji20-green_apple { content: "\1F937"; vertical-align: middle; }
.emoji20-green_book { content: "\1F937"; vertical-align: middle; }
.emoji20-green_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-grey_exclamation { content: "\1F937"; vertical-align: middle; }
.emoji20-grey_question { content: "\1F937"; vertical-align: middle; }
.emoji20-grimacing { content: "\1F937"; vertical-align: middle; }
.emoji20-grin { content: "\1F937"; vertical-align: middle; }
.emoji20-grinning { content: "\1F937"; vertical-align: middle; }
.emoji20-guardsman { content: "\1F937"; vertical-align: middle; }
.emoji20-guitar { content: "\1F937"; vertical-align: middle; }
.emoji20-gun { content: "\1F937"; vertical-align: middle; }
.emoji20-haircut { content: "\1F937"; vertical-align: middle; }
.emoji20-hamburger { content: "\1F937"; vertical-align: middle; }
.emoji20-hammer { content: "\1F937"; vertical-align: middle; }
.emoji20-hamster { content: "\1F937"; vertical-align: middle; }
.emoji20-hand { content: "\1F937"; vertical-align: middle; }
.emoji20-handbag { content: "\1F937"; vertical-align: middle; }
.emoji20-hankey { content: "\1F937"; vertical-align: middle; }
.emoji20-hash { content: "\1F937"; vertical-align: middle; }
.emoji20-hatched_chick { content: "\1F937"; vertical-align: middle; }
.emoji20-hatching_chick { content: "\1F937"; vertical-align: middle; }
.emoji20-headphones { content: "\1F937"; vertical-align: middle; }
.emoji20-heart { content: "\1F937"; vertical-align: middle; }
.emoji20-heartbeat { content: "\1F937"; vertical-align: middle; }
.emoji20-heartpulse { content: "\1F937"; vertical-align: middle; }
.emoji20-hearts { content: "\1F937"; vertical-align: middle; }
.emoji20-heart_decoration { content: "\1F937"; vertical-align: middle; }
.emoji20-heart_eyes { content: "\1F937"; vertical-align: middle; }
.emoji20-heart_eyes_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-hear_no_evil { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_check_mark { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_division_sign { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_dollar_sign { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_exclamation_mark { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_minus_sign { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_multiplication_x { content: "\1F937"; vertical-align: middle; }
.emoji20-heavy_plus_sign { content: "\1F937"; vertical-align: middle; }
.emoji20-helicopter { content: "\1F937"; vertical-align: middle; }
.emoji20-herb { content: "\1F937"; vertical-align: middle; }
.emoji20-hibiscus { content: "\1F937"; vertical-align: middle; }
.emoji20-high_brightness { content: "\1F937"; vertical-align: middle; }
.emoji20-high_heel { content: "\1F937"; vertical-align: middle; }
.emoji20-hocho { content: "\1F937"; vertical-align: middle; }
.emoji20-honeybee { content: "\1F937"; vertical-align: middle; }
.emoji20-honey_pot { content: "\1F937"; vertical-align: middle; }
.emoji20-horse { content: "\1F937"; vertical-align: middle; }
.emoji20-horse_racing { content: "\1F937"; vertical-align: middle; }
.emoji20-hospital { content: "\1F937"; vertical-align: middle; }
.emoji20-hotel { content: "\1F937"; vertical-align: middle; }
.emoji20-hotsprings { content: "\1F937"; vertical-align: middle; }
.emoji20-hourglass { content: "\1F937"; vertical-align: middle; }
.emoji20-hourglass_flowing_sand { content: "\1F937"; vertical-align: middle; }
.emoji20-house { content: "\1F937"; vertical-align: middle; }
.emoji20-house_with_garden { content: "\1F937"; vertical-align: middle; }
.emoji20-hurtrealbad { content: "\1F937"; vertical-align: middle; }
.emoji20-hushed { content: "\1F937"; vertical-align: middle; }
.emoji20-icecream { content: "\1F937"; vertical-align: middle; }
.emoji20-ice_cream { content: "\1F937"; vertical-align: middle; }
.emoji20-id { content: "\1F937"; vertical-align: middle; }
.emoji20-ideograph_advantage { content: "\1F937"; vertical-align: middle; }
.emoji20-imp { content: "\1F937"; vertical-align: middle; }
.emoji20-inbox_tray { content: "\1F937"; vertical-align: middle; }
.emoji20-incoming_envelope { content: "\1F937"; vertical-align: middle; }
.emoji20-information_desk_person { content: "\1F937"; vertical-align: middle; }
.emoji20-information_source { content: "\1F937"; vertical-align: middle; }
.emoji20-innocent { content: "\1F937"; vertical-align: middle; }
.emoji20-interrobang { content: "\1F937"; vertical-align: middle; }
.emoji20-iphone { content: "\1F937"; vertical-align: middle; }
.emoji20-it { content: "\1F937"; vertical-align: middle; }
.emoji20-izakaya_lantern { content: "\1F937"; vertical-align: middle; }
.emoji20-jack_o_lantern { content: "\1F937"; vertical-align: middle; }
.emoji20-japan { content: "\1F937"; vertical-align: middle; }
.emoji20-japanese_castle { content: "\1F937"; vertical-align: middle; }
.emoji20-japanese_goblin { content: "\1F937"; vertical-align: middle; }
.emoji20-japanese_ogre { content: "\1F937"; vertical-align: middle; }
.emoji20-jeans { content: "\1F937"; vertical-align: middle; }
.emoji20-joy { content: "\1F937"; vertical-align: middle; }
.emoji20-joy_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-jp { content: "\1F937"; vertical-align: middle; }
.emoji20-key { content: "\1F937"; vertical-align: middle; }
.emoji20-keycap_ten { content: "\1F937"; vertical-align: middle; }
.emoji20-kimono { content: "\1F937"; vertical-align: middle; }
.emoji20-kiss { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing_closed_eyes { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing_face { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-kissing_smiling_eyes { content: "\1F937"; vertical-align: middle; }
.emoji20-koala { content: "\1F937"; vertical-align: middle; }
.emoji20-koko { content: "\1F937"; vertical-align: middle; }
.emoji20-kr { content: "\1F937"; vertical-align: middle; }
.emoji20-large_blue_circle { content: "\1F937"; vertical-align: middle; }
.emoji20-large_blue_diamond { content: "\1F937"; vertical-align: middle; }
.emoji20-large_orange_diamond { content: "\1F937"; vertical-align: middle; }
.emoji20-last_quarter_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-last_quarter_moon_with_face { content: "\1F937"; vertical-align: middle; }
.emoji20-laughing {  vertical-align: middle; }
.emoji20-leaves { content: "\1F937"; vertical-align: middle; }
.emoji20-ledger { content: "\1F937"; vertical-align: middle; }
.emoji20-leftwards_arrow_with_hook { content: "\1F937"; vertical-align: middle; }
.emoji20-left_luggage { content: "\1F937"; vertical-align: middle; }
.emoji20-left_right_arrow { content: "\1F937"; vertical-align: middle; }
.emoji20-lemon { content: "\1F937"; vertical-align: middle; }
.emoji20-leo { content: "\1F937"; vertical-align: middle; }
.emoji20-leopard { content: "\1F937"; vertical-align: middle; }
.emoji20-libra { content: "\1F937"; vertical-align: middle; }
.emoji20-light_rail { content: "\1F937"; vertical-align: middle; }
.emoji20-link { content: "\1F937"; vertical-align: middle; }
.emoji20-lips { content: "\1F937"; vertical-align: middle; }
.emoji20-lipstick { content: "\1F937"; vertical-align: middle; }
.emoji20-lock { content: "\1F937"; vertical-align: middle; }
.emoji20-lock_with_ink_pen { content: "\1F937"; vertical-align: middle; }
.emoji20-lollipop { content: "\1F937"; vertical-align: middle; }
.emoji20-loop { content: "\1F937"; vertical-align: middle; }
.emoji20-loudspeaker { content: "\1F937"; vertical-align: middle; }
.emoji20-love_hotel { content: "\1F937"; vertical-align: middle; }
.emoji20-love_letter { content: "\1F937"; vertical-align: middle; }
.emoji20-low_brightness { content: "\1F937"; vertical-align: middle; }
.emoji20-m { content: "\1F937"; vertical-align: middle; }
.emoji20-mag { content: "\1F937"; vertical-align: middle; }
.emoji20-mag_right { content: "\1F937"; vertical-align: middle; }
.emoji20-mahjong { content: "\1F937"; vertical-align: middle; }
.emoji20-mailbox { content: "\1F937"; vertical-align: middle; }
.emoji20-mailbox_closed { content: "\1F937"; vertical-align: middle; }
.emoji20-mailbox_with_mail { content: "\1F937"; vertical-align: middle; }
.emoji20-mailbox_with_no_mail { content: "\1F937"; vertical-align: middle; }
.emoji20-man { content: "\1F937"; vertical-align: middle; }
.emoji20-mans_shoe { content: "\1F937"; vertical-align: middle; }
.emoji20-man_with_gua_pi_mao { content: "\1F937"; vertical-align: middle; }
.emoji20-man_with_turban { content: "\1F937"; vertical-align: middle; }
.emoji20-maple_leaf { content: "\1F937"; vertical-align: middle; }
.emoji20-mask { content: "\1F937"; vertical-align: middle; }
.emoji20-massage { content: "\1F937"; vertical-align: middle; }
.emoji20-meat_on_bone { content: "\1F937"; vertical-align: middle; }
.emoji20-mega { content: "\1F937"; vertical-align: middle; }
.emoji20-melon { content: "\1F937"; vertical-align: middle; }
.emoji20-memo { content: "\1F937"; vertical-align: middle; }
.emoji20-mens { content: "\1F937"; vertical-align: middle; }
.emoji20-metal { content: "\1F937"; vertical-align: middle; }
.emoji20-metro { content: "\1F937"; vertical-align: middle; }
.emoji20-microphone { content: "\1F937"; vertical-align: middle; }
.emoji20-microscope { content: "\1F937"; vertical-align: middle; }
.emoji20-milky_way { content: "\1F937"; vertical-align: middle; }
.emoji20-minibus { content: "\1F937"; vertical-align: middle; }
.emoji20-minidisc { content: "\1F937"; vertical-align: middle; }
.emoji20-mobile_phone_off { content: "\1F937"; vertical-align: middle; }
.emoji20-moneybag { content: "\1F937"; vertical-align: middle; }
.emoji20-money_with_wings { content: "\1F937"; vertical-align: middle; }
.emoji20-monkey { content: "\1F937"; vertical-align: middle; }
.emoji20-monkey_face { content: "\1F937"; vertical-align: middle; }
.emoji20-monorail { content: "\1F937"; vertical-align: middle; }
.emoji20-moon { content: "\1F937"; vertical-align: middle; }
.emoji20-mortar_board { content: "\1F937"; vertical-align: middle; }
.emoji20-mountain_bicyclist { content: "\1F937"; vertical-align: middle; }
.emoji20-mountain_cableway { content: "\1F937"; vertical-align: middle; }
.emoji20-mountain_railway { content: "\1F937"; vertical-align: middle; }
.emoji20-mount_fuji { content: "\1F937"; vertical-align: middle; }
.emoji20-mouse { content: "\1F937"; vertical-align: middle; }
.emoji20-mouse2 { content: "\1F937"; vertical-align: middle; }
.emoji20-movie_camera { content: "\1F937"; vertical-align: middle; }
.emoji20-moyai { content: "\1F937"; vertical-align: middle; }
.emoji20-muscle { content: "\1F937"; vertical-align: middle; }
.emoji20-mushroom { content: "\1F937"; vertical-align: middle; }
.emoji20-musical_keyboard { content: "\1F937"; vertical-align: middle; }
.emoji20-musical_note { content: "\1F937"; vertical-align: middle; }
.emoji20-musical_score { content: "\1F937"; vertical-align: middle; }
.emoji20-mute { content: "\1F937"; vertical-align: middle; }
.emoji20-nail_care { content: "\1F937"; vertical-align: middle; }
.emoji20-name_badge { content: "\1F937"; vertical-align: middle; }
.emoji20-neckbeard { content: "\1F937"; vertical-align: middle; }
.emoji20-necktie { content: "\1F937"; vertical-align: middle; }
.emoji20-negative_squared_cross_mark { content: "\1F937"; vertical-align: middle; }
.emoji20-neutral_face { content: "\1F937"; vertical-align: middle; }
.emoji20-new { content: "\1F937"; vertical-align: middle; }
.emoji20-newspaper { content: "\1F937"; vertical-align: middle; }
.emoji20-new_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-new_moon_with_face { content: "\1F937"; vertical-align: middle; }
.emoji20-ng { content: "\1F937"; vertical-align: middle; }
.emoji20-nine { content: "\1F937"; vertical-align: middle; }
.emoji20-non-potable_water { content: "\1F937"; vertical-align: middle; }
.emoji20-nose { content: "\1F937"; vertical-align: middle; }
.emoji20-notebook { content: "\1F937"; vertical-align: middle; }
.emoji20-notebook_with_decorative_cover { content: "\1F937"; vertical-align: middle; }
.emoji20-notes { content: "\1F937"; vertical-align: middle; }
.emoji20-no_bell { content: "\1F937"; vertical-align: middle; }
.emoji20-no_bicycles { content: "\1F937"; vertical-align: middle; }
.emoji20-no_entry { content: "\1F937"; vertical-align: middle; }
.emoji20-no_entry_sign { content: "\1F937"; vertical-align: middle; }
.emoji20-no_good { content: "\1F937"; vertical-align: middle; }
.emoji20-no_mobile_phones { content: "\1F937"; vertical-align: middle; }
.emoji20-no_mouth { content: "\1F937"; vertical-align: middle; }
.emoji20-no_pedestrians { content: "\1F937"; vertical-align: middle; }
.emoji20-no_smoking { content: "\1F937"; vertical-align: middle; }
.emoji20-nut_and_bolt { content: "\1F937"; vertical-align: middle; }
.emoji20-o { content: "\1F937"; vertical-align: middle; }
.emoji20-o2 { content: "\1F937"; vertical-align: middle; }
.emoji20-ocean { content: "\1F937"; vertical-align: middle; }
.emoji20-octocat { content: "\1F937"; vertical-align: middle; }
.emoji20-octopus { content: "\1F937"; vertical-align: middle; }
.emoji20-oden { content: "\1F937"; vertical-align: middle; }
.emoji20-office { content: "\1F937"; vertical-align: middle; }
.emoji20-ok { content: "\1F937"; vertical-align: middle; }
.emoji20-ok_hand { content: "\1F937"; vertical-align: middle; }
.emoji20-ok_woman { content: "\1F937"; vertical-align: middle; }
.emoji20-older_man { content: "\1F937"; vertical-align: middle; }
.emoji20-older_woman { content: "\1F937"; vertical-align: middle; }
.emoji20-on { content: "\1F937"; vertical-align: middle; }
.emoji20-oncoming_automobile { content: "\1F937"; vertical-align: middle; }
.emoji20-oncoming_bus { content: "\1F937"; vertical-align: middle; }
.emoji20-oncoming_police_car { content: "\1F937"; vertical-align: middle; }
.emoji20-oncoming_taxi { content: "\1F937"; vertical-align: middle; }
.emoji20-one { content: "\1F937"; vertical-align: middle; }
.emoji20-open_file_folder { content: "\1F937"; vertical-align: middle; }
.emoji20-open_hands { content: "\1F937"; vertical-align: middle; }
.emoji20-open_mouth { content: "\1F937"; vertical-align: middle; }
.emoji20-ophiuchus { content: "\1F937"; vertical-align: middle; }
.emoji20-orange_book { content: "\1F937"; vertical-align: middle; }
.emoji20-outbox_tray { content: "\1F937"; vertical-align: middle; }
.emoji20-ox { content: "\1F937"; vertical-align: middle; }
.emoji20-package { content: "\1F937"; vertical-align: middle; }
.emoji20-pager { content: "\1F937"; vertical-align: middle; }
.emoji20-page_facing_up { content: "\1F937"; vertical-align: middle; }
.emoji20-page_with_curl { content: "\1F937"; vertical-align: middle; }
.emoji20-palm_tree { content: "\1F937"; vertical-align: middle; }
.emoji20-panda_face { content: "\1F937"; vertical-align: middle; }
.emoji20-paperclip { content: "\1F937"; vertical-align: middle; }
.emoji20-parking { content: "\1F937"; vertical-align: middle; }
.emoji20-partly_sunny { content: "\1F937"; vertical-align: middle; }
.emoji20-part_alternation_mark { content: "\1F937"; vertical-align: middle; }
.emoji20-passport_control { content: "\1F937"; vertical-align: middle; }
.emoji20-paw_prints { content: "\1F937"; vertical-align: middle; }
.emoji20-peach { content: "\1F937"; vertical-align: middle; }
.emoji20-pear { content: "\1F937"; vertical-align: middle; }
.emoji20-pencil { content: "\1F937"; vertical-align: middle; }
.emoji20-pencil2 { content: "\1F937"; vertical-align: middle; }
.emoji20-penguin { content: "\1F937"; vertical-align: middle; }
.emoji20-pensive { content: "\1F937"; vertical-align: middle; }
.emoji20-performing_arts { content: "\1F937"; vertical-align: middle; }
.emoji20-persevere { content: "\1F937"; vertical-align: middle; }
.emoji20-person_frowning { content: "\1F937"; vertical-align: middle; }
.emoji20-person_with_blond_hair { content: "\1F937"; vertical-align: middle; }
.emoji20-person_with_pouting_face { content: "\1F937"; vertical-align: middle; }
.emoji20-phone { content: "\1F937"; vertical-align: middle; }
.emoji20-pig { content: "\1F937"; vertical-align: middle; }
.emoji20-pig2 { content: "\1F937"; vertical-align: middle; }
.emoji20-pig_nose { content: "\1F937"; vertical-align: middle; }
.emoji20-pill { content: "\1F937"; vertical-align: middle; }
.emoji20-pineapple { content: "\1F937"; vertical-align: middle; }
.emoji20-pisces { content: "\1F937"; vertical-align: middle; }
.emoji20-pizza { content: "\1F937"; vertical-align: middle; }
.emoji20-plus1 { content: "\1F937"; vertical-align: middle; }
.emoji20-point_down { content: "\1F937"; vertical-align: middle; }
.emoji20-point_left { content: "\1F937"; vertical-align: middle; }
.emoji20-point_right { content: "\1F937"; vertical-align: middle; }
.emoji20-point_up { content: "\1F937"; vertical-align: middle; }
.emoji20-point_up_2 { content: "\1F937"; vertical-align: middle; }
.emoji20-police_car { content: "\1F937"; vertical-align: middle; }
.emoji20-poodle { content: "\1F937"; vertical-align: middle; }
.emoji20-poop { content: "\1F937"; vertical-align: middle; }
.emoji20-postal_horn { content: "\1F937"; vertical-align: middle; }
.emoji20-postbox { content: "\1F937"; vertical-align: middle; }
.emoji20-post_office { content: "\1F937"; vertical-align: middle; }
.emoji20-potable_water { content: "\1F937"; vertical-align: middle; }
.emoji20-pouch { content: "\1F937"; vertical-align: middle; }
.emoji20-poultry_leg { content: "\1F937"; vertical-align: middle; }
.emoji20-pound { content: "\1F937"; vertical-align: middle; }
.emoji20-pouting_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-pray { content: "\1F937"; vertical-align: middle; }
.emoji20-princess { content: "\1F937"; vertical-align: middle; }
.emoji20-punch { content: "\1F937"; vertical-align: middle; }
.emoji20-purple_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-purse { content: "\1F937"; vertical-align: middle; }
.emoji20-pushpin { content: "\1F937"; vertical-align: middle; }
.emoji20-put_litter_in_its_place { content: "\1F937"; vertical-align: middle; }
.emoji20-question { content: "\1F937"; vertical-align: middle; }
.emoji20-rabbit { content: "\1F937"; vertical-align: middle; }
.emoji20-rabbit2 { content: "\1F937"; vertical-align: middle; }
.emoji20-racehorse { content: "\1F937"; vertical-align: middle; }
.emoji20-radio { content: "\1F937"; vertical-align: middle; }
.emoji20-radio_button { content: "\1F937"; vertical-align: middle; }
.emoji20-rage { content: "\1F937"; vertical-align: middle; }
.emoji20-rage1 { content: "\1F937"; vertical-align: middle; }
.emoji20-rage2 { content: "\1F937"; vertical-align: middle; }
.emoji20-rage3 { content: "\1F937"; vertical-align: middle; }
.emoji20-rage4 { content: "\1F937"; vertical-align: middle; }
.emoji20-railway_car { content: "\1F937"; vertical-align: middle; }
.emoji20-rainbow { content: "\1F937"; vertical-align: middle; }
.emoji20-raised_hand { content: "\1F937"; vertical-align: middle; }
.emoji20-raised_hands { content: "\1F937"; vertical-align: middle; }
.emoji20-raising_hand { content: "\1F937"; vertical-align: middle; }
.emoji20-ram { content: "\1F937"; vertical-align: middle; }
.emoji20-ramen { content: "\1F937"; vertical-align: middle; }
.emoji20-rat { content: "\1F937"; vertical-align: middle; }
.emoji20-recycle { content: "\1F937"; vertical-align: middle; }
.emoji20-red_car { content: "\1F937"; vertical-align: middle; }
.emoji20-red_circle { content: "\1F937"; vertical-align: middle; }
.emoji20-registered { content: "\1F937"; vertical-align: middle; }
.emoji20-relaxed { content: "\1F937"; vertical-align: middle; }
.emoji20-relieved { content: "\1F937"; vertical-align: middle; }
.emoji20-repeat { content: "\1F937"; vertical-align: middle; }
.emoji20-repeat_one { content: "\1F937"; vertical-align: middle; }
.emoji20-restroom { content: "\1F937"; vertical-align: middle; }
.emoji20-revolving_hearts { content: "\1F937"; vertical-align: middle; }
.emoji20-rewind { content: "\1F937"; vertical-align: middle; }
.emoji20-ribbon { content: "\1F937"; vertical-align: middle; }
.emoji20-rice { content: "\1F937"; vertical-align: middle; }
.emoji20-rice_ball { content: "\1F937"; vertical-align: middle; }
.emoji20-rice_cracker { content: "\1F937"; vertical-align: middle; }
.emoji20-rice_scene { content: "\1F937"; vertical-align: middle; }
.emoji20-ring { content: "\1F937"; vertical-align: middle; }
.emoji20-rocket { content: "\1F937"; vertical-align: middle; }
.emoji20-roller_coaster { content: "\1F937"; vertical-align: middle; }
.emoji20-rooster { content: "\1F937"; vertical-align: middle; }
.emoji20-rose { content: "\1F937"; vertical-align: middle; }
.emoji20-rotating_light { content: "\1F937"; vertical-align: middle; }
.emoji20-round_pushpin { content: "\1F937"; vertical-align: middle; }
.emoji20-rowboat { content: "\1F937"; vertical-align: middle; }
.emoji20-ru { content: "\1F937"; vertical-align: middle; }
.emoji20-rugby_football { content: "\1F937"; vertical-align: middle; }
.emoji20-runner { content: "\1F937"; vertical-align: middle; }
.emoji20-running { content: "\1F937"; vertical-align: middle; }
.emoji20-running_shirt_with_sash { content: "\1F937"; vertical-align: middle; }
.emoji20-sa { content: "\1F937"; vertical-align: middle; }
.emoji20-sagittarius { content: "\1F937"; vertical-align: middle; }
.emoji20-sailboat { content: "\1F937"; vertical-align: middle; }
.emoji20-sake { content: "\1F937"; vertical-align: middle; }
.emoji20-sandal { content: "\1F937"; vertical-align: middle; }
.emoji20-santa { content: "\1F937"; vertical-align: middle; }
.emoji20-satellite { content: "\1F937"; vertical-align: middle; }
.emoji20-satisfied { content: "\1F937"; vertical-align: middle; }
.emoji20-saxophone { content: "\1F937"; vertical-align: middle; }
.emoji20-school { content: "\1F937"; vertical-align: middle; }
.emoji20-school_satchel { content: "\1F937"; vertical-align: middle; }
.emoji20-scissors { content: "\1F937"; vertical-align: middle; }
.emoji20-scorpius { content: "\1F937"; vertical-align: middle; }
.emoji20-scream { content: "\1F937"; vertical-align: middle; }
.emoji20-scream_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-scroll { content: "\1F937"; vertical-align: middle; }
.emoji20-seat { content: "\1F937"; vertical-align: middle; }
.emoji20-secret { content: "\1F937"; vertical-align: middle; }
.emoji20-seedling { content: "\1F937"; vertical-align: middle; }
.emoji20-see_no_evil { content: "\1F937"; vertical-align: middle; }
.emoji20-seven { content: "\1F937"; vertical-align: middle; }
.emoji20-shaved_ice { content: "\1F937"; vertical-align: middle; }
.emoji20-sheep { content: "\1F937"; vertical-align: middle; }
.emoji20-shell { content: "\1F937"; vertical-align: middle; }
.emoji20-ship { content: "\1F937"; vertical-align: middle; }
.emoji20-shipit { content: "\1F937"; vertical-align: middle; }
.emoji20-shirt { content: "\1F937"; vertical-align: middle; }
.emoji20-shit { content: "\1F937"; vertical-align: middle; }
.emoji20-shoe { content: "\1F937"; vertical-align: middle; }
.emoji20-shower { content: "\1F937"; vertical-align: middle; }
.emoji20-signal_strength { content: "\1F937"; vertical-align: middle; }
.emoji20-six { content: "\1F937"; vertical-align: middle; }
.emoji20-six_pointed_star { content: "\1F937"; vertical-align: middle; }
.emoji20-ski { content: "\1F937"; vertical-align: middle; }
.emoji20-skull { content: "\1F937"; vertical-align: middle; }
.emoji20-sleeping { content: "\1F937"; vertical-align: middle; }
.emoji20-sleepy { content: "\1F937"; vertical-align: middle; }
.emoji20-slot_machine { content: "\1F937"; vertical-align: middle; }
.emoji20-small_blue_diamond { content: "\1F937"; vertical-align: middle; }
.emoji20-small_orange_diamond { content: "\1F937"; vertical-align: middle; }
.emoji20-small_red_triangle { content: "\1F937"; vertical-align: middle; }
.emoji20-small_red_triangle_down { content: "\1F937"; vertical-align: middle; }
.emoji20-smile { content: "\1F937"; vertical-align: middle; }
.emoji20-smiley { content: "\1F937"; vertical-align: middle; }
.emoji20-smiley_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-smile_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-smiling_imp { content: "\1F937"; vertical-align: middle; }
.emoji20-smirk { content: "\1F937"; vertical-align: middle; }
.emoji20-smirk_cat { content: "\1F937"; vertical-align: middle; }
.emoji20-smoking { content: "\1F937"; vertical-align: middle; }
.emoji20-snail { content: "\1F937"; vertical-align: middle; }
.emoji20-snake { content: "\1F937"; vertical-align: middle; }
.emoji20-snowboarder { content: "\1F937"; vertical-align: middle; }
.emoji20-snowflake { content: "\1F937"; vertical-align: middle; }
.emoji20-snowman { content: "\1F937"; vertical-align: middle; }
.emoji20-sob { content: "\1F937"; vertical-align: middle; }
.emoji20-soccer { content: "\1F937"; vertical-align: middle; }
.emoji20-soon { content: "\1F937"; vertical-align: middle; }
.emoji20-sos { content: "\1F937"; vertical-align: middle; }
.emoji20-sound { content: "\1F937"; vertical-align: middle; }
.emoji20-space_invader { content: "\1F937"; vertical-align: middle; }
.emoji20-spades { content: "\1F937"; vertical-align: middle; }
.emoji20-spaghetti { content: "\1F937"; vertical-align: middle; }
.emoji20-sparkle { content: "\1F937"; vertical-align: middle; }
.emoji20-sparkler { content: "\1F937"; vertical-align: middle; }
.emoji20-sparkles { content: "\1F937"; vertical-align: middle; }
.emoji20-sparkling_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-speaker { content: "\1F937"; vertical-align: middle; }
.emoji20-speak_no_evil { content: "\1F937"; vertical-align: middle; }
.emoji20-speech_balloon { content: "\1F937"; vertical-align: middle; }
.emoji20-speedboat { content: "\1F937"; vertical-align: middle; }
.emoji20-squirrel { content: "\1F937"; vertical-align: middle; }
.emoji20-star { content: "\1F937"; vertical-align: middle; }
.emoji20-star2 { content: "\1F937"; vertical-align: middle; }
.emoji20-stars { content: "\1F937"; vertical-align: middle; }
.emoji20-station { content: "\1F937"; vertical-align: middle; }
.emoji20-statue_of_liberty { content: "\1F937"; vertical-align: middle; }
.emoji20-steam_locomotive { content: "\1F937"; vertical-align: middle; }
.emoji20-stew { content: "\1F937"; vertical-align: middle; }
.emoji20-straight_ruler { content: "\1F937"; vertical-align: middle; }
.emoji20-strawberry { content: "\1F937"; vertical-align: middle; }
.emoji20-stuck_out_tongue { content: "\1F937"; vertical-align: middle; }
.emoji20-stuck_out_tongue_closed_eyes { content: "\1F937"; vertical-align: middle; }
.emoji20-stuck_out_tongue_winking_eye { content: "\1F937"; vertical-align: middle; }
.emoji20-sunflower { content: "\1F937"; vertical-align: middle; }
.emoji20-sunglasses { content: "\1F937"; vertical-align: middle; }
.emoji20-sunny { content: "\1F937"; vertical-align: middle; }
.emoji20-sunrise { content: "\1F937"; vertical-align: middle; }
.emoji20-sunrise_over_mountains { content: "\1F937"; vertical-align: middle; }
.emoji20-sun_with_face { content: "\1F937"; vertical-align: middle; }
.emoji20-surfer { content: "\1F937"; vertical-align: middle; }
.emoji20-sushi { content: "\1F937"; vertical-align: middle; }
.emoji20-suspect { content: "\1F937"; vertical-align: middle; }
.emoji20-suspension_railway { content: "\1F937"; vertical-align: middle; }
.emoji20-sweat { content: "\1F937"; vertical-align: middle; }
.emoji20-sweat_drops { content: "\1F937"; vertical-align: middle; }
.emoji20-sweat_smile { content: "\1F937"; vertical-align: middle; }
.emoji20-sweet_potato { content: "\1F937"; vertical-align: middle; }
.emoji20-swimmer { content: "\1F937"; vertical-align: middle; }
.emoji20-symbols { content: "\1F937"; vertical-align: middle; }
.emoji20-syringe { content: "\1F937"; vertical-align: middle; }
.emoji20-tada { content: "\1F937"; vertical-align: middle; }
.emoji20-tanabata_tree { content: "\1F937"; vertical-align: middle; }
.emoji20-tangerine { content: "\1F937"; vertical-align: middle; }
.emoji20-taurus { content: "\1F937"; vertical-align: middle; }
.emoji20-taxi { content: "\1F937"; vertical-align: middle; }
.emoji20-tea { content: "\1F937"; vertical-align: middle; }
.emoji20-telephone { content: "\1F937"; vertical-align: middle; }
.emoji20-telephone_receiver { content: "\1F937"; vertical-align: middle; }
.emoji20-telescope { content: "\1F937"; vertical-align: middle; }
.emoji20-tennis { content: "\1F937"; vertical-align: middle; }
.emoji20-tent { content: "\1F937"; vertical-align: middle; }
.emoji20-thought_balloon { content: "\1F937"; vertical-align: middle; }
.emoji20-three { content: "\1F937"; vertical-align: middle; }
.emoji20-thumbsdown { content: "\1F937"; vertical-align: middle; }
.emoji20-thumbsup { content: "\1F937"; vertical-align: middle; }
.emoji20-ticket { content: "\1F937"; vertical-align: middle; }
.emoji20-tiger { content: "\1F937"; vertical-align: middle; }
.emoji20-tiger2 { content: "\1F937"; vertical-align: middle; }
.emoji20-tired_face { content: "\1F937"; vertical-align: middle; }
.emoji20-tm { content: "\1F937"; vertical-align: middle; }
.emoji20-toilet { content: "\1F937"; vertical-align: middle; }
.emoji20-tokyo_tower { content: "\1F937"; vertical-align: middle; }
.emoji20-tomato { content: "\1F937"; vertical-align: middle; }
.emoji20-tongue { content: "\1F937"; vertical-align: middle; }
.emoji20-top { content: "\1F937"; vertical-align: middle; }
.emoji20-tophat { content: "\1F937"; vertical-align: middle; }
.emoji20-tractor { content: "\1F937"; vertical-align: middle; }
.emoji20-traffic_light { content: "\1F937"; vertical-align: middle; }
.emoji20-train { content: "\1F937"; vertical-align: middle; }
.emoji20-train2 { content: "\1F937"; vertical-align: middle; }
.emoji20-tram { content: "\1F937"; vertical-align: middle; }
.emoji20-triangular_flag_on_post { content: "\1F937"; vertical-align: middle; }
.emoji20-triangular_ruler { content: "\1F937"; vertical-align: middle; }
.emoji20-trident { content: "\1F937"; vertical-align: middle; }
.emoji20-triumph { content: "\1F937"; vertical-align: middle; }
.emoji20-trolleybus { content: "\1F937"; vertical-align: middle; }
.emoji20-trollface { content: "\1F937"; vertical-align: middle; }
.emoji20-trophy { content: "\1F937"; vertical-align: middle; }
.emoji20-tropical_drink { content: "\1F937"; vertical-align: middle; }
.emoji20-tropical_fish { content: "\1F937"; vertical-align: middle; }
.emoji20-truck { content: "\1F937"; vertical-align: middle; }
.emoji20-trumpet { content: "\1F937"; vertical-align: middle; }
.emoji20-tshirt { content: "\1F937"; vertical-align: middle; }
.emoji20-tulip { content: "\1F937"; vertical-align: middle; }
.emoji20-turtle { content: "\1F937"; vertical-align: middle; }
.emoji20-tv { content: "\1F937"; vertical-align: middle; }
.emoji20-twisted_rightwards_arrows { content: "\1F937"; vertical-align: middle; }
.emoji20-two { content: "\1F937"; vertical-align: middle; }
.emoji20-two_hearts { content: "\1F937"; vertical-align: middle; }
.emoji20-two_men_holding_hands { content: "\1F937"; vertical-align: middle; }
.emoji20-two_women_holding_hands { content: "\1F937"; vertical-align: middle; }
.emoji20-u5272 { content: "\1F937"; vertical-align: middle; }
.emoji20-u5408 { content: "\1F937"; vertical-align: middle; }
.emoji20-u55b6 { content: "\1F937"; vertical-align: middle; }
.emoji20-u6307 { content: "\1F937"; vertical-align: middle; }
.emoji20-u6708 { content: "\1F937"; vertical-align: middle; }
.emoji20-u6709 { content: "\1F937"; vertical-align: middle; }
.emoji20-u6e80 { content: "\1F937"; vertical-align: middle; }
.emoji20-u7121 { content: "\1F937"; vertical-align: middle; }
.emoji20-u7533 { content: "\1F937"; vertical-align: middle; }
.emoji20-u7981 { content: "\1F937"; vertical-align: middle; }
.emoji20-u7a7a { content: "\1F937"; vertical-align: middle; }
.emoji20-uk { content: "\1F937"; vertical-align: middle; }
.emoji20-umbrella { content: "\1F937"; vertical-align: middle; }
.emoji20-unamused { content: "\1F937"; vertical-align: middle; }
.emoji20-underage { content: "\1F937"; vertical-align: middle; }
.emoji20-unlock { content: "\1F937"; vertical-align: middle; }
.emoji20-up { content: "\1F937"; vertical-align: middle; }
.emoji20-us { content: "\1F937"; vertical-align: middle; }
.emoji20-v { content: "\1F937"; vertical-align: middle; }
.emoji20-vertical_traffic_light { content: "\1F937"; vertical-align: middle; }
.emoji20-vhs { content: "\1F937"; vertical-align: middle; }
.emoji20-vibration_mode { content: "\1F937"; vertical-align: middle; }
.emoji20-video_camera { content: "\1F937"; vertical-align: middle; }
.emoji20-video_game { content: "\1F937"; vertical-align: middle; }
.emoji20-violin { content: "\1F937"; vertical-align: middle; }
.emoji20-virgo { content: "\1F937"; vertical-align: middle; }
.emoji20-volcano { content: "\1F937"; vertical-align: middle; }
.emoji20-vs { content: "\1F937"; vertical-align: middle; }
.emoji20-walking { content: "\1F937"; vertical-align: middle; }
.emoji20-waning_crescent_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-waning_gibbous_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-warning { content: "\1F937"; vertical-align: middle; }
.emoji20-watch { content: "\1F937"; vertical-align: middle; }
.emoji20-watermelon { content: "\1F937"; vertical-align: middle; }
.emoji20-water_buffalo { content: "\1F937"; vertical-align: middle; }
.emoji20-wave { content: "\1F937"; vertical-align: middle; }
.emoji20-wavy_dash { content: "\1F937"; vertical-align: middle; }
.emoji20-waxing_crescent_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-waxing_gibbous_moon { content: "\1F937"; vertical-align: middle; }
.emoji20-wc { content: "\1F937"; vertical-align: middle; }
.emoji20-weary { content: "\1F937"; vertical-align: middle; }
.emoji20-wedding { content: "\1F937"; vertical-align: middle; }
.emoji20-whale { content: "\1F937"; vertical-align: middle; }
.emoji20-whale2 { content: "\1F937"; vertical-align: middle; }
.emoji20-wheelchair { content: "\1F937"; vertical-align: middle; }
.emoji20-white_check_mark { content: "\1F937"; vertical-align: middle; }
.emoji20-white_circle { content: "\1F937"; vertical-align: middle; }
.emoji20-white_flower { content: "\1F937"; vertical-align: middle; }
.emoji20-white_large_square { content: "\1F937"; vertical-align: middle; }
.emoji20-white_medium_small_square { content: "\1F937"; vertical-align: middle; }
.emoji20-white_medium_square { content: "\1F937"; vertical-align: middle; }
.emoji20-white_small_square { content: "\1F937"; vertical-align: middle; }
.emoji20-white_square { content: "\1F937"; vertical-align: middle; }
.emoji20-white_square_button { content: "\1F937"; vertical-align: middle; }
.emoji20-wind_chime { content: "\1F937"; vertical-align: middle; }
.emoji20-wine_glass { content: "\1F937"; vertical-align: middle; }
.emoji20-wink { content: "\1F937"; vertical-align: middle; }
.emoji20-wink2 { content: "\1F937"; vertical-align: middle; }
.emoji20-wolf { content: "\1F937"; vertical-align: middle; }
.emoji20-woman { content: "\1F937"; vertical-align: middle; }
.emoji20-womans_clothes { content: "\1F937"; vertical-align: middle; }
.emoji20-womans_hat { content: "\1F937"; vertical-align: middle; }
.emoji20-womens { content: "\1F937"; vertical-align: middle; }
.emoji20-worried { content: "\1F937"; vertical-align: middle; }
.emoji20-wrench { content: "\1F937"; vertical-align: middle; }
.emoji20-x { content: "\1F937"; vertical-align: middle; }
.emoji20-yellow_heart { content: "\1F937"; vertical-align: middle; }
.emoji20-yen { content: "\1F937"; vertical-align: middle; }
.emoji20-yum { content: "\1F937"; vertical-align: middle; }
.emoji20-zap { content: "\1F937"; vertical-align: middle; }
.emoji20-zero { content: "\1F937"; vertical-align: middle; }
.emoji20-zzz { content: "\1F937"; vertical-align: middle; }
