.hotgluemoticon { background-repeat: no-repeat; position: relative; display: inline-block; top: 5px; margin-top: -5px; padding: 0; }
td.hotgluemoticon { margin-top: 0; }
.hotgluemoticon-1 { background-image: url(images/hotglue/h1.png); width: 70px; height: 70px; }

.hotgluemoticon-doge { background-position: -0px -0px; }
.hotgluemoticon-fertilemeadors { background-position: -70px -0px; }
.hotgluemoticon-game { background-position: -140px -0px; }
.hotgluemoticon-henohenomoheji { background-position: -210px -0px; }
.hotgluemoticon-lolwut { background-position: -0px -70px; }
.hotgluemoticon-moar { background-position: -70px -70px; }
.hotgluemoticon-pedobear { background-position: -140px -70px; }
.hotgluemoticon-wat { background-position: -210px -70px; }
.hotgluemoticon-yaranaika1 { background-position: -0px -140px; }
.hotgluemoticon-yaranaika2 { background-position: -70px -140px; }
.hotgluemoticon-derika { background-position: -140px -140px; }
.hotgluemoticon-babz { background-position: -210px -140px; }
.hotgluemoticon-bson { background-position: -0px -210px; }
.hotgluemoticon-shanz { background-position: -70px -210px; }
.hotgluemoticon-jamesy { background-position: -140px -210px; }
.hotgluemoticon-kimjongwhere { background-position: -210px -210px; }
.hotgluemoticon-doobie { background-position: -0px -280px; }

#emotelist-dialog img.v4cemote { max-width: 80px; }
.message img.v4cemote { max-width: 120px; }

#emotelist-dialog img.blobemoji { max-width: 70px; }
.message img.blobemoji { max-width: 70px; }
