.hotgluemoticon { background-repeat: no-repeat; background-repeat: no-repeat; position: relative; display: inline-block; top: 5px; margin-top: -5px; padding: 0; }
.hotgluemoticon-1 { background-image: url(images/hotglue/h1.png); width: 70px; height: 70px; }

.hotgluemoticon-doge { background-position: -0px -0px; }
.hotgluemoticon-fertilemeadors { background-position: -70px -0px; }
.hotgluemoticon-game { background-position: -140px -0px; }
.hotgluemoticon-henohenomoheji { background-position: -210px -0px; }
.hotgluemoticon-lolwut { background-position: -0px -70px; }
.hotgluemoticon-moar { background-position: -70px -70px; }
.hotgluemoticon-pedobear { background-position: -140px -70px; }
.hotgluemoticon-wut { background-position: -210px -70px; }
.hotgluemoticon-yaranaika1 { background-position: -0px -140px; }
.hotgluemoticon-yaranaika2 { background-position: -70px -140px; }
.hotgluemoticon-derika { background-position: -140px -140px; }
.hotgluemoticon-babz { background-position: -210px -140px; }
/*.hotgluemoticon-ajhappy { background-position: -0px -210px; }
.hotgluemoticon-pinkiefear { background-position: -70px -210px; }
.hotgluemoticon-twibeam { background-position: -140px -210px; }
.hotgluemoticon-scootaderp { background-position: -210px -210px; }
.hotgluemoticon-raritydaww { background-position: -0px -280px; }
.hotgluemoticon-scootacheer { background-position: -70px -280px; }
.hotgluemoticon-swagintosh { background-position: -140px -280px; }
.hotgluemoticon-pinkieawe { background-position: -210px -280px; }
.hotgluemoticon-ajsup { background-position: -0px -350px; }
.hotgluemoticon-flutterwhoa { background-position: -70px -350px; }
.hotgluemoticon-rdcry { background-position: -140px -350px; }
.hotgluemoticon-silverspoon { background-position: -210px -350px; }
.hotgluemoticon-ohcomeon { background-position: -0px -420px; }
.hotgluemoticon-ppcute { background-position: -70px -420px; }
.hotgluemoticon-abbored { background-position: -140px -420px; }
.hotgluemoticon-rarityreally { background-position: -210px -420px; }
.hotgluemoticon-raritynews { background-position: -0px -490px; }
.hotgluemoticon-sbbook { background-position: -70px -490px; }
.hotgluemoticon-scootaplease { background-position: -140px -490px; }
.hotgluemoticon-applegasp { background-position: -210px -490px; }
.hotgluemoticon-twiright { background-position: -0px -560px; }
.hotgluemoticon-celestiawut { background-position: -70px -560px; }
.hotgluemoticon-grannysmith { background-position: -140px -560px; }
.hotgluemoticon-rarishock { background-position: -210px -560px; }
.hotgluemoticon-shiningarmor { background-position: -0px -630px; }
.hotgluemoticon-chrysalis { background-position: -70px -630px; }
.hotgluemoticon-cadence { background-position: -140px -630px; }
.hotgluemoticon-applederp { background-position: -210px -630px; }*/
