.ponymoticon { background-repeat: no-repeat; background-repeat: no-repeat; position: relative; display: inline-block; top: 5px; margin-top: -5px; padding: 0; }
.ponymoticon-a { background-image: url(images/ponymoticon/a.png); width: 70px; height: 70px; }
.ponymoticon-b { background-image: url(images/ponymoticon/b.png); width: 70px; height: 70px; }
.ponymoticon-c { background-image: url(images/ponymoticon/c.png); width: 70px; height: 70px; }
.ponymoticon-d { background-image: url(images/ponymoticon/d.png); width: 70px; height: 70px; }
.ponymoticon-e { background-image: url(images/ponymoticon/e.png); width: 70px; height: 70px; }

.ponymoticon-ajlie { background-position: -0px -0px; }
.ponymoticon-priceless { background-position: -70px -0px; }
.ponymoticon-flutterjerk { background-position: -140px -0px; }
.ponymoticon-flutterroll { background-position: -210px -0px; }
.ponymoticon-twipride { background-position: -0px -70px; }
.ponymoticon-celestiamad { background-position: -70px -70px; }
.ponymoticon-twicrazy { background-position: -140px -70px; }
.ponymoticon-spikemeh { background-position: -210px -70px; }
.ponymoticon-lunateehee { background-position: -0px -140px; }
.ponymoticon-lunawait { background-position: -70px -140px; }
.ponymoticon-derpwizard { background-position: -140px -140px; }
.ponymoticon-abmeh { background-position: -210px -140px; }
.ponymoticon-ajhappy { background-position: -0px -210px; }
.ponymoticon-pinkiefear { background-position: -70px -210px; }
.ponymoticon-twibeam { background-position: -140px -210px; }
.ponymoticon-scootaderp { background-position: -210px -210px; }
.ponymoticon-raritydaww { background-position: -0px -280px; }
.ponymoticon-scootacheer { background-position: -70px -280px; }
.ponymoticon-swagintosh { background-position: -140px -280px; }
.ponymoticon-pinkieawe { background-position: -210px -280px; }
.ponymoticon-ajsup { background-position: -0px -350px; }
.ponymoticon-flutterwhoa { background-position: -70px -350px; }
.ponymoticon-rdcry { background-position: -140px -350px; }
.ponymoticon-silverspoon { background-position: -210px -350px; }
.ponymoticon-ohcomeon { background-position: -0px -420px; }
.ponymoticon-ppcute { background-position: -70px -420px; }
.ponymoticon-abbored { background-position: -140px -420px; }
.ponymoticon-rarityreally { background-position: -210px -420px; }
.ponymoticon-raritynews { background-position: -0px -490px; }
.ponymoticon-sbbook { background-position: -70px -490px; }
.ponymoticon-scootaplease { background-position: -140px -490px; }
.ponymoticon-applegasp { background-position: -210px -490px; }
.ponymoticon-twiright { background-position: -0px -560px; }
.ponymoticon-celestiawut { background-position: -70px -560px; }
.ponymoticon-grannysmith { background-position: -140px -560px; }
.ponymoticon-rarishock { background-position: -210px -560px; }
.ponymoticon-shiningarmor { background-position: -0px -630px; }
.ponymoticon-chrysalis { background-position: -70px -630px; }
.ponymoticon-cadence { background-position: -140px -630px; }
.ponymoticon-applederp { background-position: -210px -630px; }

.ponymoticon-flutterfear { background-position: -0px -0px; }
.ponymoticon-ppboring { background-position: -70px -0px; }
.ponymoticon-rarityyell { background-position: -140px -0px; }
.ponymoticon-fluttershy { background-position: -210px -0px; }
.ponymoticon-ajcower { background-position: -0px -70px; }
.ponymoticon-ajsly { background-position: -70px -70px; }
.ponymoticon-eeyup { background-position: -140px -70px; }
.ponymoticon-rdsmile { background-position: -210px -70px; }
.ponymoticon-fluttersrs { background-position: -0px -140px; }
.ponymoticon-raritydress { background-position: -70px -140px; }
.ponymoticon-takealetter { background-position: -140px -140px; }
.ponymoticon-rdwut { background-position: -210px -140px; }
.ponymoticon-ppshrug { background-position: -0px -210px; }
.ponymoticon-spikenervous { background-position: -70px -210px; }
.ponymoticon-noooo { background-position: -140px -210px; }
.ponymoticon-dj { background-position: -210px -210px; }
.ponymoticon-fluttershh { background-position: -0px -280px; }
.ponymoticon-flutteryay { background-position: -70px -280px; }
.ponymoticon-squintyjack { background-position: -140px -280px; }
.ponymoticon-spikepushy { background-position: -210px -280px; }
.ponymoticon-ajugh { background-position: -0px -350px; }
.ponymoticon-raritywut { background-position: -70px -350px; }
.ponymoticon-dumbfabric { background-position: -140px -350px; }
.ponymoticon-raritywhy { background-position: -210px -350px; }
.ponymoticon-trixiesmug { background-position: -0px -420px; }
.ponymoticon-flutterwink { background-position: -70px -420px; }
.ponymoticon-rarityannoyed { background-position: -140px -420px; }
.ponymoticon-soawesome { background-position: -210px -420px; }
.ponymoticon-ajwut { background-position: -0px -490px; }
.ponymoticon-twisquint { background-position: -70px -490px; }
.ponymoticon-raritywhine { background-position: -140px -490px; }
.ponymoticon-rdcool { background-position: -210px -490px; }
.ponymoticon-abwut { background-position: -0px -560px; }
.ponymoticon-manspike { background-position: -70px -560px; }
.ponymoticon-cockatrice { background-position: -140px -560px; }
.ponymoticon-facehoof { background-position: -210px -560px; }
.ponymoticon-rarityjudge { background-position: -0px -630px; }
.ponymoticon-rarityprimp { background-position: -70px -630px; }
.ponymoticon-twirage { background-position: -140px -630px; }
.ponymoticon-ppseesyou { background-position: -210px -630px; }

.ponymoticon-rdsitting { background-position: -0px -0px; }
.ponymoticon-rdhappy { background-position: -70px -0px; }
.ponymoticon-rdannoyed { background-position: -140px -0px; }
.ponymoticon-trixiesad { background-position: -210px -0px; }
.ponymoticon-twismug { background-position: -0px -70px; }
.ponymoticon-twismile { background-position: -70px -70px; }
.ponymoticon-twistare { background-position: -140px -70px; }
.ponymoticon-changeling { background-position: -210px -70px; }
.ponymoticon-ohhi { background-position: -0px -140px; }
.ponymoticon-party { background-position: -70px -140px; }
.ponymoticon-hahaha { background-position: -140px -140px; }
.ponymoticon-rdscared { background-position: -210px -140px; }
.ponymoticon-flutterblush { background-position: -0px -210px; }
.ponymoticon-gross { background-position: -70px -210px; }
.ponymoticon-derpyhappy { background-position: -140px -210px; }
.ponymoticon-twidaww { background-position: -210px -210px; }
.ponymoticon-ajfrown { background-position: -0px -280px; }
.ponymoticon-hmmm { background-position: -70px -280px; }
.ponymoticon-pinkiejoy { background-position: -140px -280px; }
.ponymoticon-whattheflut { background-position: -210px -280px; }
.ponymoticon-raritysad { background-position: -0px -350px; }
.ponymoticon-fabulous { background-position: -70px -350px; }
.ponymoticon-derp { background-position: -140px -350px; }
.ponymoticon-cadencesmile { background-position: -210px -350px; }
.ponymoticon-louder { background-position: -0px -420px; }
.ponymoticon-lunasad { background-position: -70px -420px; }
.ponymoticon-derpyshock { background-position: -140px -420px; }
.ponymoticon-shiningpride { background-position: -210px -420px; }
.ponymoticon-pinkamina { background-position: -0px -490px; }
.ponymoticon-loveme { background-position: -70px -490px; }
.ponymoticon-lunagasp { background-position: -140px -490px; }
.ponymoticon-fluttercry { background-position: -210px -490px; }
.ponymoticon-scootaloo { background-position: -0px -560px; }
.ponymoticon-celestia { background-position: -70px -560px; }
.ponymoticon-angelglare { background-position: -140px -560px; }
.ponymoticon-sneakybelle { background-position: -210px -560px; }
.ponymoticon-allmybits { background-position: -0px -630px; }
.ponymoticon-zecora { background-position: -70px -630px; }
.ponymoticon-photofinish { background-position: -140px -630px; }
.ponymoticon-ppreally { background-position: -210px -630px; }

.ponymoticon-stonie { background-position: -0px -0px; }
.ponymoticon-pinkiehigh { background-position: -70px -0px; }
.ponymoticon-rbtrippin { background-position: -140px -0px; }
.ponymoticon-spikehigh { background-position: -0px -70px; }
.ponymoticon-pervertedaj { background-position: -70px -70px; }
.ponymoticon-twihigh { background-position: -140px -70px; }
.ponymoticon-fluttersqueak { background-position: -0px -140px; }
.ponymoticon-happyrarity { background-position: -70px -140px; }
.ponymoticon-bakedrarity { background-position: -140px -140px; }
.ponymoticon-rbhigh { background-position: -0px -210px; }
.ponymoticon-ajhuh { background-position: -70px -210px; }
.ponymoticon-flutterfree { background-position: -140px -210px; }
.ponymoticon-celestreeia { background-position: -0px -280px; }
.ponymoticon-awwshit { background-position: -70px -280px; }
.ponymoticon-treepony { background-position: -140px -280px; }
.ponymoticon-rbomg { background-position: -0px -350px; }
.ponymoticon-mobboss { background-position: -70px -350px; }
.ponymoticon-opalescence { background-position: -140px -350px; }
.ponymoticon-sneakiepinkie { background-position: -0px -420px; }
.ponymoticon-dirigible { background-position: -70px -420px; }
.ponymoticon-trixiehigh { background-position: -140px -420px; }
.ponymoticon-twiderp { background-position: -0px -490px; }
.ponymoticon-whoovesing { background-position: -70px -490px; }
.ponymoticon-twiheh { background-position: -140px -490px; }
.ponymoticon-flutterhigh { background-position: -0px -560px; }
.ponymoticon-derpyhigh { background-position: -70px -560px; }
.ponymoticon-flutteryeah { background-position: -140px -560px; }
.ponymoticon-spikegimmie { background-position: -0px -630px; }
.ponymoticon-sirderp { background-position: -70px -630px; }
.ponymoticon-twiblah { background-position: -140px -630px; }

.ponymoticon-fluttersmoke { background-position: -0px -700px; }
.ponymoticon-braeburnhuh { background-position: -70px -700px; }
.ponymoticon-bakedspike { background-position: -140px -700px; }
.ponymoticon-lunasly { background-position: -0px -770px; }
.ponymoticon-derpinkie { background-position: -70px -770px; }
.ponymoticon-lunasilly { background-position: -140px -770px; }
.ponymoticon-rbreally { background-position: -0px -840px; }
.ponymoticon-rarityhuh { background-position: -70px -840px; }
.ponymoticon-bluebowl { background-position: -140px -840px; }

.ponymoticon-fillytgap { background-position: -0px -0px; }
.ponymoticon-rdhuh { background-position: -70px -0px; }
.ponymoticon-snails { background-position: -140px -0px; }
.ponymoticon-twisad { background-position: -210px -0px; }
.ponymoticon-lyra { background-position: -0px -70px; }
.ponymoticon-bonbon { background-position: -70px -70px; }
.ponymoticon-spitfire { background-position: -140px -70px; }
.ponymoticon-lunamad { background-position: -210px -70px; }
.ponymoticon-cutealoo { background-position: -0px -140px; }
.ponymoticon-happyluna { background-position: -70px -140px; }
.ponymoticon-sotrue { background-position: -140px -140px; }
.ponymoticon-discordsad { background-position: -210px -140px; }
.ponymoticon-wahaha { background-position: -0px -210px; }
.ponymoticon-sbstare { background-position: -70px -210px; }
.ponymoticon-punchdrunk { background-position: -140px -210px; }
.ponymoticon-maud { background-position: -210px -210px; }
.ponymoticon-huhhuh { background-position: -0px -280px; }
.ponymoticon-absmile { background-position: -70px -280px; }
.ponymoticon-dealwithit { background-position: -140px -280px; }
.ponymoticon-pinkiepout { background-position: -210px -280px; }
.ponymoticon-nmm { background-position: -0px -350px; }
.ponymoticon-whooves { background-position: -70px -350px; }
.ponymoticon-rdsalute { background-position: -140px -350px; }
.ponymoticon-octavia { background-position: -0px -420px; }
.ponymoticon-colgate { background-position: -70px -420px; }
.ponymoticon-cheerilee { background-position: -140px -420px; }
.ponymoticon-ajbaffle { background-position: -0px -490px; }
.ponymoticon-abhuh { background-position: -70px -490px; }
.ponymoticon-thehorror { background-position: -140px -490px; }
.ponymoticon-twiponder { background-position: -0px -560px; }
.ponymoticon-spikewtf { background-position: -70px -560px; }
.ponymoticon-awwyeah { background-position: -140px -560px; }
.ponymoticon-gilda { background-position: -0px -630px; }
.ponymoticon-discentia { background-position: -70px -630px; }
.ponymoticon-manlytears { background-position: -140px -630px; }
