.yukkuri { position: relative; display: inline-block; width: 50px; height: 40px; top: 5px; margin-top: -5px; padding: 0; }
td.yukkuri { margin-top: 0; }
.yukkuri-marisa { background:url(images/yukkuri.png) no-repeat -0px -0px; }
.yukkuri-marisakiss { background:url(images/yukkuri.png) no-repeat -0px -40px; }
.yukkuri-marisalol { background:url(images/yukkuri.png) no-repeat -0px -80px; }
.yukkuri-marisablank { background:url(images/yukkuri.png) no-repeat -0px -120px; }
.yukkuri-marisablush { background:url(images/yukkuri.png) no-repeat -0px -160px; }
.yukkuri-marisasad { background:url(images/yukkuri.png) no-repeat -0px -200px; }
.yukkuri-marisacry { background:url(images/yukkuri.png) no-repeat -0px -240px; }
.yukkuri-marisamad { background:url(images/yukkuri.png) no-repeat -0px -280px; }
.yukkuri-marisaangry { background:url(images/yukkuri.png) no-repeat -0px -320px; }
.yukkuri-marisahappy { background:url(images/yukkuri.png) no-repeat -0px -360px; }
.yukkuri-marisacute { background:url(images/yukkuri.png) no-repeat -0px -400px; }
.yukkuri-marisawhat { background:url(images/yukkuri.png) no-repeat -0px -440px; }
.yukkuri-marisaannoy { background:url(images/yukkuri.png) no-repeat -0px -480px; }
.yukkuri-marisanervous { background:url(images/yukkuri.png) no-repeat -0px -520px; }
.yukkuri-marisashock { background:url(images/yukkuri.png) no-repeat -0px -560px; }
.yukkuri-marisasmile { background:url(images/yukkuri.png) no-repeat -0px -600px; }
.yukkuri-reimu { background:url(images/yukkuri.png) no-repeat -0px -640px; }
.yukkuri-reimukiss { background:url(images/yukkuri.png) no-repeat -0px -680px; }
.yukkuri-reimulol { background:url(images/yukkuri.png) no-repeat -0px -720px; }
.yukkuri-reimublank { background:url(images/yukkuri.png) no-repeat -0px -760px; }
.yukkuri-reimublush { background:url(images/yukkuri.png) no-repeat -0px -800px; }
.yukkuri-reimusad { background:url(images/yukkuri.png) no-repeat -0px -840px; }
.yukkuri-reimucry { background:url(images/yukkuri.png) no-repeat -0px -880px; }
.yukkuri-reimumad { background:url(images/yukkuri.png) no-repeat -0px -920px; }
.yukkuri-reimuangry { background:url(images/yukkuri.png) no-repeat -0px -960px; }
.yukkuri-reimuhappy { background:url(images/yukkuri.png) no-repeat -0px -1000px; }
.yukkuri-reimucute { background:url(images/yukkuri.png) no-repeat -0px -1040px; }
.yukkuri-reimuwhat { background:url(images/yukkuri.png) no-repeat -0px -1080px; }
.yukkuri-reimuannoy { background:url(images/yukkuri.png) no-repeat -0px -1120px; }
.yukkuri-reimunervous { background:url(images/yukkuri.png) no-repeat -0px -1160px; }
.yukkuri-reimushock { background:url(images/yukkuri.png) no-repeat -0px -1200px; }
.yukkuri-reimusmile { background:url(images/yukkuri.png) no-repeat -0px -1240px; }
