.yukkuri { position: relative; display: inline-block; width: 50px; height: 40px; top: 5px; margin-top: -5px; padding: 0; }
.yukkuri-marisa1 { background:url(images/yukkuri.png) no-repeat -0px -0px; }
.yukkuri-marisa2 { background:url(images/yukkuri.png) no-repeat -0px -40px; }
.yukkuri-marisa3 { background:url(images/yukkuri.png) no-repeat -0px -80px; }
.yukkuri-marisa4 { background:url(images/yukkuri.png) no-repeat -0px -120px; }
.yukkuri-marisa5 { background:url(images/yukkuri.png) no-repeat -0px -160px; }
.yukkuri-marisa6 { background:url(images/yukkuri.png) no-repeat -0px -200px; }
.yukkuri-marisa7 { background:url(images/yukkuri.png) no-repeat -0px -240px; }
.yukkuri-marisa8 { background:url(images/yukkuri.png) no-repeat -0px -280px; }
.yukkuri-marisa9 { background:url(images/yukkuri.png) no-repeat -0px -320px; }
.yukkuri-marisa10 { background:url(images/yukkuri.png) no-repeat -0px -360px; }
.yukkuri-marisa11 { background:url(images/yukkuri.png) no-repeat -0px -400px; }
.yukkuri-marisa12 { background:url(images/yukkuri.png) no-repeat -0px -440px; }
.yukkuri-marisa13 { background:url(images/yukkuri.png) no-repeat -0px -480px; }
.yukkuri-marisa14 { background:url(images/yukkuri.png) no-repeat -0px -520px; }
.yukkuri-marisa15 { background:url(images/yukkuri.png) no-repeat -0px -560px; }
.yukkuri-marisa16 { background:url(images/yukkuri.png) no-repeat -0px -600px; }
.yukkuri-reimu1 { background:url(images/yukkuri.png) no-repeat -0px -640px; }
.yukkuri-reimu2 { background:url(images/yukkuri.png) no-repeat -0px -680px; }
.yukkuri-reimu3 { background:url(images/yukkuri.png) no-repeat -0px -720px; }
.yukkuri-reimu4 { background:url(images/yukkuri.png) no-repeat -0px -760px; }
.yukkuri-reimu5 { background:url(images/yukkuri.png) no-repeat -0px -800px; }
.yukkuri-reimu6 { background:url(images/yukkuri.png) no-repeat -0px -840px; }
.yukkuri-reimu7 { background:url(images/yukkuri.png) no-repeat -0px -880px; }
.yukkuri-reimu8 { background:url(images/yukkuri.png) no-repeat -0px -920px; }
.yukkuri-reimu9 { background:url(images/yukkuri.png) no-repeat -0px -960px; }
.yukkuri-reimu10 { background:url(images/yukkuri.png) no-repeat -0px -1000px; }
.yukkuri-reimu11 { background:url(images/yukkuri.png) no-repeat -0px -1040px; }
.yukkuri-reimu12 { background:url(images/yukkuri.png) no-repeat -0px -1080px; }
.yukkuri-reimu13 { background:url(images/yukkuri.png) no-repeat -0px -1120px; }
.yukkuri-reimu14 { background:url(images/yukkuri.png) no-repeat -0px -1160px; }
.yukkuri-reimu15 { background:url(images/yukkuri.png) no-repeat -0px -1200px; }
.yukkuri-reimu16 { background:url(images/yukkuri.png) no-repeat -0px -1240px; }