.yukkuri { position: relative; display: inline-block; width: 25px; height: 20px; top: 5px; margin-top: -5px; padding: 0; }
/*fix for table display*/td.yukkuri {margin-top:0}
.yukkuri-marisa1 { background:url(images/yukkuri.png) no-repeat -0px -0px; }
.yukkuri-marisa2 { background:url(images/yukkuri.png) no-repeat -0px -20px; }
.yukkuri-marisa3 { background:url(images/yukkuri.png) no-repeat -0px -40px; }
.yukkuri-marisa4 { background:url(images/yukkuri.png) no-repeat -0px -60px; }
.yukkuri-marisa5 { background:url(images/yukkuri.png) no-repeat -0px -80px; }
.yukkuri-marisa6 { background:url(images/yukkuri.png) no-repeat -0px -100px; }
.yukkuri-marisa7 { background:url(images/yukkuri.png) no-repeat -0px -120px; }
.yukkuri-marisa8 { background:url(images/yukkuri.png) no-repeat -0px -140px; }
.yukkuri-marisa9 { background:url(images/yukkuri.png) no-repeat -0px -160px; }
.yukkuri-marisa10 { background:url(images/yukkuri.png) no-repeat -0px -180px; }
.yukkuri-marisa11 { background:url(images/yukkuri.png) no-repeat -0px -200px; }
.yukkuri-marisa12 { background:url(images/yukkuri.png) no-repeat -0px -220px; }
.yukkuri-marisa13 { background:url(images/yukkuri.png) no-repeat -0px -240px; }
.yukkuri-marisa14 { background:url(images/yukkuri.png) no-repeat -0px -260px; }
.yukkuri-marisa15 { background:url(images/yukkuri.png) no-repeat -0px -280px; }
.yukkuri-marisa16 { background:url(images/yukkuri.png) no-repeat -0px -300px; }
.yukkuri-reimu1 { background:url(images/yukkuri.png) no-repeat -0px -320px; }
.yukkuri-reimu2 { background:url(images/yukkuri.png) no-repeat -0px -340px; }
.yukkuri-reimu3 { background:url(images/yukkuri.png) no-repeat -0px -360px; }
.yukkuri-reimu4 { background:url(images/yukkuri.png) no-repeat -0px -380px; }
.yukkuri-reimu5 { background:url(images/yukkuri.png) no-repeat -0px -400px; }
.yukkuri-reimu6 { background:url(images/yukkuri.png) no-repeat -0px -420px; }
.yukkuri-reimu7 { background:url(images/yukkuri.png) no-repeat -0px -440px; }
.yukkuri-reimu8 { background:url(images/yukkuri.png) no-repeat -0px -460px; }
.yukkuri-reimu9 { background:url(images/yukkuri.png) no-repeat -0px -480px; }
.yukkuri-reimu10 { background:url(images/yukkuri.png) no-repeat -0px -500px; }
.yukkuri-reimu11 { background:url(images/yukkuri.png) no-repeat -0px -520px; }
.yukkuri-reimu12 { background:url(images/yukkuri.png) no-repeat -0px -540px; }
.yukkuri-reimu13 { background:url(images/yukkuri.png) no-repeat -0px -560px; }
.yukkuri-reimu14 { background:url(images/yukkuri.png) no-repeat -0px -580px; }
.yukkuri-reimu15 { background:url(images/yukkuri.png) no-repeat -0px -600px; }
.yukkuri-reimu16 { background:url(images/yukkuri.png) no-repeat -0px -620px; }