<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Jabbr" connectionString="Data Source=(local);Initial Catalog=JabbR;Integrated Security=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Insert" key="jabbr:defaultAdminUserName" value="yadyn"/>
    <add xdt:Transform="Insert" key="jabbr:defaultAdminPassword" value="Pas-word"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp deliveryMethod="Network" from="thoughtlabrelay@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="thoughtlabrelay@gmail.com" password="Pas-word22" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>